[2013-08-07 19:23] xsc opened #1 "Remove Recursion from Parser"
Currently the parser is implemented in a recursive way (for example, `parse-next` for lists calls `parse-delimited` which in turn relies on `parse-next`, passing the end-delimiter as parameter). This can obviously cause problems when parsing deeply nested structures and should thus be replaced by a more stable approach.

[2013-08-08 11:28] #1 closed, assigned to xsc

[2013-08-19 02:55] hoebat opened #2 "The zipper seems to be trouble when parsing a `ns` form in emacs"
I'm developing in emacs:

if I evaluate the form:

(z/of-string "(ns)") => it is fine

(z/of-string "(ns a.name.space)") => it tosses an exception

'cannot find the namespace z'

This is only the case in emacs... it works fine in the repl

[2013-09-30 09:38] #2 closed, assigned to xsc

[2013-10-05 19:55] hoebat opened #3 "The double colon ::keyword throws an error"
The double colon keyword is not recognised by the parser.
I ran into the problem and had to avoid parsing it by turning it into a string.

An example of the code that i had to escape is here:

https://github.com/zcaudate/ribol/blob/master/test/midje_doc/ribol_implementation.clj#L100

[2013-10-07 07:12] #3 closed, assigned to xsc

[2013-11-13 03:26] zcaudate opened #4 "Porting the code to clojurescript"
How difficult will it be to port the code to clojurescript?

[2014-03-27 22:54] optevo opened #5 "Next does not work with empty vector"
It looks like next is not progressing past empty vectors correctly:

[code]

Also there is no problem if the vector is not empty

[2014-03-28 01:44] optevo opened #6 "Accessing quoted symbols with zipper"
Currently:

(z/sexpr (z/next (z/next (z/of-string "(println 'a)"))))
;(quote a)

There is no way of navigating directly to the symbol "a" with the zipper using next (is there another function I have missed that can do this?).

While it is possible to do something like
(second (z/sexpr (z/next (z/next (z/of-string "(println 'a)")))))
;a

The zipper can never point to "a" so it isn't possible to rep

[2014-03-29 10:44] #5 closed, assigned to xsc

[2014-03-29 10:44] #6 closed, assigned to xsc

[2014-04-01 02:26] shaunxcode opened #7 "uneval not handling space between tag and form"
I believe `#_ (cat)` and `#_(cat)` should be equivalent but currently only the latter currently works.

[2014-04-08 07:28] hoebat opened #8 "Adding reader information to parsed tokens"
I remember raising this with you before. I think I found a solution to this that just want to run it by you.

The 'parse-next' method is a multimethod, so we could write a function that sticks the row and column numbers as metadata in each element that is being parsed.

Instead of using parse-next, the calls are made to  a new function 'parse-next-meta' that puts the line information after a call

[2014-04-08 10:10] #8 closed, assigned to xsc

[2014-04-08 11:57] hoebat opened #10 "Prewalk may miss walking the last element of the list"
I'm not sure about this but just wanted to check with you why the prewalk function using my `?-left` function does not work as expected.

I should expect one more result: [{:row 4, :col 18} x]
Instead of just 3 [{:row 4, :col 12} 2] [{:row 4, :col 14} 3] [{:row 4, :col 16} 4]

https://github.com/zcaudate/juy/blob/master/src/juy/core.clj#L50-L69

`?-right` works fine - giving 4 results.

[2014-04-09 09:28] #10 closed, assigned to xsc

[2014-04-09 10:30] zcaudate opened #11 "Proposal for paredit-like functionality"
I've been thinking about how to best do source code transforms. It is very difficult without structural editing and so I'm proposing new paredit
Ike features for rewrite-clj

- Auto-aligning sexps on new lines.
- Recalculate line/column positioning
- conversion of comments to code and back again
- support for paredit-like behaviour
   - kill rest
   - slurp and barf
   - wrap parens
   - change de

[2014-05-01 02:03] shaunxcode opened #12 "inconsistent handling of fn literal v.s. quotes"
It would be more uniform if fn literals were handled like

Right now `#(+ a b)` ->  `[:fn [:token +] [:token a] [:token b]]`

I suggest: `[:fn [:list [:token +] [:token a] [:token b]]]`

So that it is more consistent with quote forms.

e.g.  `'(+ a b)` -> `[:quote [:list [:token +] [:token a] [:token b]]]`

[2014-05-05 20:38] shaunxcode opened #13 "radix support not working"
So
`(parser/parse-string "(def x 2r1101)")`
yields:
`[:list [:token def] [:whitespace " "] [:token x] [:whitespace " "] [:token 13]]`

Which is not quite what you would expect if you were to then write that back into a file.

[2014-11-21 21:16] weavejester opened #14 "Release to fix z/end? behavior?"
I've run into problems with `z/end?` in `z/find` which I note is fixed in the master branch in April, but not yet released. Is it possible to cut a "0.3.10" release of rewrite-clj sometime soon?

[2014-11-21 23:50] #14 closed, assigned to nobody

[2014-11-22 01:07] weavejester opened #15 "Incorrect leftmost behavior"
The `rewrite-clj.zip/leftmost` function doesn't appear to work correctly. This may be a bug in fastzip, or in the way rewrite-clj constructs the zipper.

[code]

These two expressions should return the same value. I've tested this with rewrite-clj 0.3.10, and I've tried updating fastzip to 0.5.1 without success.

[2014-11-23 12:43] #15 closed, assigned to xsc

[2014-12-14 07:07] shaunlebron opened #16 "cannot assoc on childless map"
Looks like an empty map needs at least some whitespace for assoc to work:

[code]

[code]

[2014-12-14 14:36] #16 closed, assigned to xsc

[2015-01-06 09:30] #12 closed

[2015-01-18 01:46] weavejester opened #17 "Exception when trying to parse \\"
To reproduce on 0.4.2:

[code]

I believe this is a problem with `rewrite-clj.parser.token/parse-token` and how it uses `rewrite-clj.reader/boundary?`.

[2015-01-18 08:18] #17 closed

[2015-01-18 08:22] xsc commented on #17
Fix released in

[code]

[2015-01-18 09:05] xsc commented on #7
The latest releases can handle these cases.

[code]

__Artifact Coordinates__

[code]

[2015-01-18 09:05] #7 closed

[2015-01-18 09:08] xsc commented on #13
The latest releases store the original string in the `:token` node, so this should work now.

[code]
__Artifact Coordinates__

[code]

[2015-01-18 09:08] #13 closed

[2015-01-18 09:11] xsc commented on #11
I now think that these should be part of a separate library built on top of rewrite-clj. (Just like [cljfmt](https://github.com/weavejester/cljfmt) is doing it.)

[2015-01-18 09:17] xsc commented on #4
One additional (major) problem here is that our tests are using Midje which does not have a ClojureScript port...

[2015-01-18 11:21] weavejester commented on #17
Thanks for the quick fix!

[2015-01-25 14:58] weavejester opened #18 "EOF Exception when parsing file that ends in a comment"
A EOF exception is generated when trying to parse a Clojure file that ends in a comment. e.g.

[code]

If the file ends in anything else, including a newline, everything is okay. Perhaps the parser is looking for the end of a comment by searching for the next newline, but doesn't account for an EOF.

[2015-01-25 20:26] #18 closed

[2015-01-25 20:33] xsc commented on #18
Released in

[code]

But I have found two potential inconsistencies:

- if I `insert-right` something after such a comment , there is currently no linebreak inserted automatically,
- if I `remove` something making a comment the last form in the zipper, the line will still end in a linebreak.

Do you have any opinion on how the zipper should behave in these situations?

[2015-01-26 12:13] weavejester commented on #18
Presumably the zipper should endeavour to keep the AST in a local state, so comments would be added with a linebreak, and perhaps removed in the same way.

I wonder if a comment could be considered a type of "verbose line break", so that a linebreak is inherently part of the structure.

[2015-01-26 12:54] xsc commented on #18
This would make a file ending in a comment also end in a linebreak, though.

I added some tests yesterday (5392ba0a7eb835047552915fa1c4d579b78fc4b7) illustrating this behaviour but implementation is still pending. It's probably the way to go but I have to think about how I can best model it.

[2015-01-28 10:44] msgodf opened #19 "Assertion error for single semicolon comment followed by newline (or nothing)"
These two expressions,
[code]
result in an assertion error `AssertionError Assert failed: (re-matches #"[^\r\n]+[\r\n]?" s)  rewrite-clj.node.comment/comment-node (comment.clj:25)` (the latter expression threw an EOF exception prior to version 0.4.5).

Whereas these,
[code]
are parsed successfully.

The problematic expressions are handled by the Clojure reader, so I'm assuming that they're legal a

[2015-01-28 12:33] #19 closed

[2015-01-28 12:52] xsc commented on #19
Released in

[code]

[2015-01-28 14:49] msgodf commented on #19
Great, thanks! Hopefully lein-cljfmt shouldn't get as upset with our code now :)

[2015-01-28 20:26] weavejester opened #20 "Getting a zipper of an all-comment string returns nil"
This is likely an fairly niche case, but it cropped up in some of my unit tests for [cljfmt](https://github.com/weavejester/cljfmt).

[code]

[2015-01-28 20:39] #20 closed

[2015-01-28 20:42] xsc commented on #20
Damn whitespace/comments, why do we even have them? ;)
Fix released in

[code]

`z/edn` falls back to behaving like `z/edn*` for whitespace-only cases, meaning the zipper will be located at the top-level `:forms` node.

[2015-01-28 22:10] weavejester commented on #20
Tell me about it! :)

[2015-01-28 22:20] weavejester opened #21 "Two-colon keywords cause exceptions"
Keywords like `::xyz/foo` cause exceptions when read by rewrite-clj:

[code]

Because `xyz` isn't a valid namespace alias in the namespace doing the parsing, rewrite-clj will throw an exception when it tries to read in the keyword `::xyz/foo`.

You might need to add a specific keyword node, rather than relying on `clojure.lang.Keyword`.

[2015-01-28 22:28] xsc commented on #21
There actually is a special [keyword node](https://github.com/xsc/rewrite-clj/blob/master/src/rewrite_clj/node/keyword.clj) but the issue here is that `::xyz/foo` is not a valid keyword:

[code]

The Clojure reader doesn't accept it:

[code]

[2015-01-28 22:37] weavejester commented on #21
`::xyz/foo` is a valid keyword in Clojure, if there is a namespace aliased to `xyz`.

[code]

[2015-01-28 22:55] xsc commented on #21
I'll have to think about that. Allowing the parsing of these keywords is not a problem, but without keeping track of namespaces/aliases conversion of such a node to an s-expression would have to result in something like:

[code]

Which is not really something, I'd expect a `:token` node to produce...

[2015-01-28 23:36] weavejester commented on #21
I'm not sure what you mean...

You can't determine the keyword without evaluating the namespace, and conceivably the same keyword might turn out to have different namespaces. e.g.

[code]

So the only way I can see around it, is to create some sort of custom structure for these unevaluated keywords, like:

[code]

[2015-01-28 23:53] xsc commented on #21
As I said, parsing and storing as a node is not a problem and can be accomplished easily by adjusting [this precondition](https://github.com/xsc/rewrite-clj/blob/master/src/rewrite_clj/node/keyword.clj#L42).

But there is the function `rewrite-clj.node.protocols/sexpr` that every `Node` has to implement - and what would be the corresponding s-expression for `::xyz/foo`? I see two possibilities:

-

[2015-01-29 01:52] weavejester commented on #21
Oh, I understand what you're saying now. I can see why you want that `sexpr` function, and also why it's so difficult in this case.

The really annoying part is that keywords like this can be quoted, so you could write something like:

[code]

[2015-01-29 17:52] xsc commented on #21
I now think that the cleanest solution here is to cheat:

[code]

This should be fine in nearly all cases where `sexpr` is used as long as `n/string` still produces the original `"::xyz/foo"`. Opinions?

[2015-01-29 18:28] weavejester commented on #21
I don't think I've ever actually needed the `sexpr` functionality before, as I tend to work directly with the AST, so I'm afraid I don't really have an opinion on this part. As long as rewrite-clj doesn't except, I'm happy :)

[2015-01-29 18:40] xsc commented on #21
I thought so. :) Released in

[code]

[2015-01-29 18:40] #21 closed

[2015-01-30 08:42] luxbock opened #22 "Infinite loop when replacing a symbol with a form that contains that symbol"
Here's a minimal demonstration:

[code]

[2015-01-30 08:53] xsc commented on #22
That's exactly what you would expect during prewalk, since the replacement form will be part of the walk. So, the following steps are happening:

[code]

Compare with `clojure.walk/prewalk`:

[code]

[2015-01-30 08:53] #22 closed

[2015-01-30 08:54] xsc commented on #22
(But I'll look into providing a `postwalk`function, no worries.)

[2015-01-30 08:55] luxbock commented on #22
Ah I see. My bad :).

[2015-01-30 18:26] weavejester opened #23 "Weird edge condition with uneval forms"
This is a strange one. If you have a uneval form with a newline in the middle of it, then trying to insert a value via a zipper produces a strange result:

[code]

Note that an eval form works fine:

[code]

My guess is that there's some typo or small error in the uneval form zipper setup that's causing this problem.

[2015-01-30 18:35] weavejester commented on #23
Oddly there are two `uneval-form`s defined, one in [rewrite-clj.node.reader-macro](https://github.com/xsc/rewrite-clj/blob/master/src/rewrite_clj/node/reader_macro.clj#L121), and the other in [rewrite-clj.node.uneval](https://github.com/xsc/rewrite-clj/blob/master/src/rewrite_clj/node/uneval.clj). Is one of those a hangover from a refactor?

[2015-01-31 11:43] #23 closed

[2015-01-31 12:24] xsc commented on #23
Fix deployed in

[code]

[2015-01-31 12:30] xsc commented on #22
FYI, version `0.4.9` contains `postwalk`:

[code]

[2015-01-31 12:48] luxbock commented on #22
Thanks!

[2015-02-02 22:28] weavejester opened #24 "Symbols with single quotes at the end aren't read correctly"
The Clojure [reader docs](http://clojure.org/reader#toc1) indicate that a single quote is not character that's allowed in a symbol, however, there's a standard function [clojure.core/+'](https://clojure.github.io/clojure/clojure.core-api.html#clojure.core/+') that breaks this rule.

rewrite-clj assumes that a single quote can never appear at the end of a symbol, which leads to valid Clojure code (

[2015-02-04 18:50] #24 closed

[2015-02-04 18:53] xsc commented on #24
Fix released in

[code]

Thanks, as always, for the report!

[2015-02-04 19:51] weavejester commented on #24
Thank you for the quick fix!

[2015-02-05 04:51] weavejester opened #25 "Parse problems with : inside of symbols"
It was pointed out to me in weavejester/cljfmt#21 that the end two sentences of the reader docs on symbols appear to allow `:`s inside of symbols:

Which means that technically `foo:bar` is a valid symbol name. Currently rewrite-clj treats that as a symbol followed by a keyword, which is incorrect.

[2015-02-05 07:15] #25 closed

[2015-02-05 07:20] xsc commented on #25
I found `sym'sym` to also be a problem. Both cases are fixed in

[code]

[2015-02-13 06:36] bbatsov opened #26 "Reducing the number of deps"
As some development tools might end up depending on `rewrite-clj` (e.g. cljfmt) it makes sense to keep its deps to the bare minimum (if feasible). I wonder if the dependencies to `fast-zip` and `potemkin` are really necessary?

See https://github.com/clojure-emacs/cider-nrepl/issues/148 for some background

[2015-02-13 08:37] zcaudate commented on #26
Yeah... I've had a few problems upgrading from 0.3 to 0.4 and so decided to stick with the old version instead.

[2015-02-13 09:21] xsc commented on #26
@bbatsov fast-zip can certainly be replaced with Clojure's own zippers but potemkin is really useful for structuring the project and I'd have to hardcode `import-vars` somewhere in the codebase. But I don't really see a problem with that and I'll look into it.

@zcaudate Dependencies didn't change during the rewrite to 0.4.x, IIRC, only their versions. Any concrete problems/stacktrace you could po

[2015-02-13 09:26] bbatsov commented on #26
I'd really appreciate it you make those changes. I realize it's a pain in the ass for lib maintainers to avoid certain handy deps, but unfortunately there's not easy way to isolate runtime deps and the more a library has, the more conflicts we're likely to introduce (at least when we're talking about libs like `fast-zip` and `potemkin` which people might be using in their app; deps like `tools.rea

[2015-02-15 12:53] xsc commented on #26
Both dependencies were removed.

__Artifact Coordinates__ ([Release Notes](https://github.com/xsc/rewrite-clj/releases/tag/clojars-0.4.12))

[code]

[2015-02-15 12:53] #26 closed

[2015-03-09 08:50] rundis commented on #4
+1
Clojurescript support would be really neat !

[2015-04-03 04:47] zcaudate commented on #11
Oh sorry... I didn't see this issue when I pushed a `paredit` branch up.... but I found a bug in zip/remove that may need attention.

[2015-04-03 04:53] zcaudate opened #27 "zip/remove missing an `zip/up` movement somewhere"
So this piece of code should return `(hello)` but instead is returning `hello`:

[code]

[2015-04-03 04:56] zcaudate commented on #11
So I'm happy to delete the branch and move the code somewhere else if that's what you prefer

[2015-04-03 13:38] xsc commented on #27
The docs for `clojure.zip/remove` say:

    Removes the node at loc, returning the loc that would have preceded
    it in a depth-first walk.

And a depth-first walk of those forms would be:

    (hello) (world)
    (hello)
    hello
    (world)
    ...

Comparing with `seq-zip`:

[code]

So, this seems to behaving as expected.

[2015-04-05 23:58] zcaudate commented on #27
okay =)

[2015-04-05 23:58] #27 closed

[2015-04-05 23:59] #11 closed

[2015-04-10 13:46] xsc commented on #11
Hey, sorry for the delay. I'm still in favour of extracting this functionality and moving it to a separate project. I'll also soon curate a list of projects using rewrite-clj, so it can be easily found.

Thanks for your work!

[2015-04-23 12:42] rundis opened #28 "Feature request: Provide start-end col/line for nodes"
It seems currently only row and col are available ? Am I right.

Even better would be a feature to find node (of type) by position
Something like:

[code]

similarily find-next-by-pos etc :)

[2015-04-25 12:33] xsc commented on #28
@rundis Getting and attaching that information should not be that much of a problem - and I'll investigate whether there's a reasonable way to implement `find-by-pos`.

Thanks for the idea!

[2015-05-05 06:36] rundis commented on #4
@xsc

Thought I'd give you a heads up. I'm currently working on a ClojureScript port :)
The good news is that I haven't spent more than a day or so, but got quite a lot of it up and running. The bad news perhaps is that I've gone down the route of creating a rewrite-cljs rather than the cljx route.

A couple of selfish reasons for that;
* I have no experience with cljx. With [cljc](http://dev.cloj

[2015-05-06 08:23] xsc commented on #4
@rundis I'd say, go for a 'rundis/rewrite-cljs' (maybe forking this repo so the necessary changes are documented?). Once Clojure 1.7. is out and adoption increases we can have another look at the cljc way.

Thank you for taking that matter into your hands!

[2015-05-06 19:58] rundis commented on #4
Cool !
You can track the progress of your lib's lesser sibling here: https://github.com/rundis/rewrite-cljs

[2015-05-12 06:49] rundis commented on #28
I guess a potential challenge would be to keep the positional metadata up to date when rewriting nodes. Any thoughts on how to approach that ?

[2015-06-03 10:57] expez commented on #28
Oh man, this would be so sweet!  Subscribe!

[2015-06-17 15:36] RickMoynihan opened #30 "Records are coerced into HashMaps instead of themselves"
Hi all,

I have the following defrecord type:

`(defrecord Foo [a])`

Which is serializable obviously as an EDN tagged literal:

`#user/Foo "blah"`

Unfortunately `coerce` coerces `IPersistentMap` into hash maps, which looses the important type information that this is a `#user/Foo`.  This can be problematic as walking over a tree with a zipper can loose information from the source form.

It might

[2015-06-17 15:46] RickMoynihan commented on #30
I should probably also add that you can work around it by extending Coerceable to your record type, but part of the point of EDN is that you shouldn't need to be aware of all the types.

[2015-06-17 16:01] xsc commented on #30
I went with records producing nodes representing the output of `pr-str` on a record, e.g.:

[code]

Sounds good?

[2015-06-17 17:34] RickMoynihan commented on #30
Yes, looks good but it has just occured to me that the same problem might exist for `deftypes` (made serializable by overloading `print-method`).  So might need to test for that too.

Thanks for the speedy patch!

[2015-07-28 06:58] pkillean commented on #4
Now that we have both .cljc and a cljs port of tools.reader, any thoughts on moving this forward? As I understand it, .cljc will break compatibility with clj <1.7, and midje will need to go.

Maybe rewrite-cljc deserves its own project?

[2015-09-15 16:49] expez commented on #28
@xsc is this actually done, but the issue was never closed?  I seem to recall this being nearly done last I checked in.

[2015-09-16 08:05] xsc commented on #28
@expez There is some code in master, but I think `:end-row` is sometimes off by one... (The respective tests are commented out, too: 32b14505.) Also, I didn't intend on committing it, it just slipped through during a dependency upgrade: a178fcaf. :sweat:

I'll evaluate the current state and, if possible, fix the problems.

[2015-09-17 09:50] expez commented on #28
Thanks!

In the meanwhile, could you publish a snapshot from master?  I think I can get some work done without relying on `:end-row`, until the rest is done.

[2015-09-17 13:41] xsc commented on #28
@expez SNAPSHOT is pushed:

[code]

[2015-09-19 12:22] expez opened #31 "zip/next never returns nil"
Hi

I wanted to generate all nodes in a depth first manner so I did:

[code]
but this stream never ends!

After checking the source I realized I had to do:

[code]

I think it would be nice if `zip/next` returned `nil` to indicate that there is no next element so it's consistent with `zip/left`, `zip/right` etc which do return `nil`.

[2015-09-19 12:45] xsc commented on #31
@expez rewrite-clj tries to maintain the same API as `clojure.zip`, which means for [`next`](https://clojure.github.io/clojure/clojure.zip-api.html#clojure.zip/next):

    Moves to the next loc in the hierarchy, depth-first. When reaching
    the end, returns a distinguished loc detectable via end?. If already
    at the end, stays there.

You can try it:

[code]

So, I think this should stay this

[2015-09-19 12:48] expez commented on #31
Aight, given that objective the current behavior does make sense.

Thanks!

[2015-09-19 12:48] #31 closed

[2015-09-24 15:42] expez commented on #4
I'm using rewrite-clj in refactor-nrepl and I'd love to see support for consuming cljc files.

Most the community has opted to adopt cljc without worrying about consumers running other versions of clojure.  Given that, I don't think the extra effort is warranted.  I tried keeping refactor-nrepl backward compatible but that was completely hopeless if I ever wanted access to new functionality.  Than

[2015-09-29 17:15] expez opened #32 "Feature request: zip-to"
Hi

The function `(zip/zip-to zipper line column)`, which takes you to whatever is at the coordinates `(line, column)`, in the text consumed by `zipper`, would be hugely helpful.

If there's nothing there, e.g. the coordinates are to whitespace, or beyond the file content, I'd prefer `nil` to anything else.

Obviously I'm not married to the name, I'd be equally happy with `navigate-to`, `goto`, or

[2015-11-11 21:56] eraserhd commented on #32
Similar to this (and this would depend on it), I'd love for the zipper to track the current column (at least, but also line would be nice).  I want to insert something and have it indented to the same column as the thing I'm inserting after, and this seems to be a lot of work.

I'm happy to do the work, but would be more happy if we could figure out how I could do the work so nobody else has to do

[2015-11-11 23:27] eraserhd opened #33 "whitespace-aware insertion problems"
[code]
Note the two spaces instead of one in the result.  This is a simpler case of trying to insert with proper indentation:  I append a newline, append `(dec col)` spaces, then insert the object, and it's off by one.  This seems wrong.

[2015-11-12 16:33] eraserhd commented on #28
@rundis I think the way to keep the info up-to-date is to track it in the zipper.  Which would mean making a custom zipper instead of reusing `clojure.zip`.  This would be interesting to me, as well (I might implement).  It's been repeated a few times that writing a customer zipper is pretty much expected and that clojure.zip is just an easy starter.

But this all poses an interesting problem... I

[2015-11-12 17:34] eraserhd opened #36 "Naming of functions"
`z/append-space` and `z/append-newline` work differently from `z/append-child` - the first two would be better called `z/insert-space` and `z/insert-newline`.

[2015-11-13 09:55] #33 closed

[2015-11-14 16:51] eraserhd opened #38 "Unused node types/dead code"
All of the node types in `indent.clj` are never produced by the parser, and the constructors aren't imported or exposed through the `rewrite-clj.node` API.  Should I remove them?

Also, `integer-node` constructor is never called by the parser, although this one _is_ part of the public API.  I'd love to remove it.  I suppose it is possible someone is inserting it into the parse tree and that it wor

[2015-11-18 19:15] eraserhd commented on #38
Other notes I made about simplifying things while making the last PR:

1. `node/length` can be computed in general from `leader-length` and `trailer-length` and children, so we could remove it as a protocol method.
2. ReaderNode's `suffix` isn't used.
3. Using maps instead of records would probably simplify (and reduce!) a lot of the code under `rewrite-clj.node`.  It will also have the effect tha

[2015-11-19 21:46] eraserhd opened #42 "Auto-indentation"
Seems like even for my first, small use-case, I would easily benefit from an autoindent "mode" or "interface" (I've manually computed indentation in three different ways, for two different contexts.)

We have this spec:
https://github.com/clojure-emacs/cider/blob/master/doc/Indent-Spec.md

I'm not sure exactly how this would work: I can think of a few possibilities, but the one that seems the most

[2015-11-20 08:26] expez commented on #42
@eraserhd It's somewhat unclear to me what this issue is about, but I thought I'd mention [cljfmt](https://github.com/weavejester/cljfmt), which uses rewrite-clj to indent clj code correctly, as it looks like you might be doing something similar.

[2015-11-20 15:32] weavejester commented on #42
Part of the reason I wrote cljfmt was so that I could use rewrite-clj to change the source tree, and then run cljfmt over it to prettify it using `cljfmt.core/reformat-form`.

Auto-indentation of Clojure code is not a trivial problem, and I'd council against adding it to rewrite-clj itself, as that would considerably increase the scope and complexity of the library. Far better, IMO, to have librar

[2015-11-20 17:45] eraserhd commented on #42
@weavejester Interesting.  I guess I can't think of a case where formatting a form before inserting it would be a problem.  This definitely makes my current thing simpler, so I'll do it.

[2015-11-20 17:45] #42 closed

[2016-02-09 23:12] shmish111 opened #43 "<U+2028> causes exception"
Somehow had got into my code (using mac notes I think) this caused cljfmt to throw
Exception in thread "main" java.lang.AssertionError: Assert failed: (re-matches #"(\s|,)+" s) and it took me ages to work out why. @weavejester advised me that this is a rewrite-clj issue, see https://github.com/weavejester/cljfmt/issues/51

[2016-02-25 07:47] rundis commented on #4
@xsc The world has moved on and Clojure 1.7 and ClojureScript 1.7 is starting to become more and more mainstream. Maybe it's time to bring ClojureScript  support to rewrite-clj.
I think it's worth considering bringing rewrite-cljs back into rewrite-clj (where it belongs imho). rewrite-cljs has had it's place up until now, but it seems wasteful to continue duplicating efforts.

The two projects hav

[2016-02-26 13:50] xsc commented on #4
@rundis I agree that adoption has spread and there's nothing speaking against integrating the ClojureScript version (and the Clojure version has generative tests now which should be easier to port to CLJS than the midje ones).

As I wrote in another ticket, I'm currently re-evaluating my projects. Now, rewrite-clj, I wrote it for a specialized purpose - upgrading dependencies in project.clj files

[2016-03-16 17:13] rundis commented on #4
@xsc Sorry for the late reply. I've got to think this through. Since I did rewrite-cljs I've sort of joined the Light Table open source team and have to consider how to handle my already limited spare time.
When I find a chunk of time I can have a shot at bringing rewrite-cljs back into rewrite-clj. If that works out and I feel relatively confident about the codebase in rewrite-clj I'll reassess.

[2016-03-23 16:00] xsc commented on #4
@rundis No problem, and thanks for your reply!

[2016-04-03 10:00] #43 closed

[2016-04-03 10:11] #36 closed

[2016-04-22 20:44] mikekap opened #46 "Fix parsing of reader conditionals"
`#?(:clj hello)` is currently parsed as `:reader-macro ?`. That's fine, but the splicing form `#?@(:clj hello)` gets parsed as `:reader-macro ? (:deref ...)`, which is the wrong meaning.

I think ideally both `#?` and `#?@` would be different nodes altogether, but at the very least `#?@` shouldn't be a `deref`.

[2016-06-28 02:32] venantius commented on #46
Would also like to see this tackled, especially as Cljfmt uses it as the upstream engine for code formatting. Reference issue: https://github.com/weavejester/cljfmt/issues/59

[2016-06-28 03:31] arrdem commented on #46
DIBS. I CALLED DIBS. MY ISSUE.

[2016-06-28 19:59] venantius commented on #46
@arrdem your issue bro

[2016-06-28 22:02] arrdem commented on #46
😛

[2016-07-06 23:23] weavejester opened #50 "Multi-line regular expressions are not correctly parsed"
Reported in https://github.com/weavejester/cljfmt/issues/76.

[code]

[2016-07-07 16:13] brian-dawn commented on #50
So I took a quick look at this issue, looks like `parse-regex` in `rewrite_clj/parser/string.clj` is failing to correctly hand `read-string-data` returning a seq. We're destructuring the head into h and doing nothing with the tail which is where the rest of the result lives.

Solutions:

Join the result of `read-string-data` with newlines. Unfortunately this won't give us a `:multi-line` token the

[2016-07-07 16:48] arrdem commented on #50
IMO joining with newlines is the only sane thing to do.

[2016-07-07 17:07] brian-dawn commented on #50
OK, I have some code lying around. I'll clean it up and PR it.

[2016-07-07 17:10] arrdem commented on #50
Thanks!

[2016-07-07 17:20] brian-dawn commented on #50
PR: xsc/rewrite-clj/pull/51.

[2016-07-08 07:53] #50 closed

[2016-07-08 12:44] weavejester commented on #50
Thanks for the quick fix!

[2016-08-31 21:35] #46 closed

[2016-11-02 11:12] jespera opened #52 "Should node/coerce also be implemented for nil?"
If I call `(node/coerce nil)` I get an error: (I've added line-breaks in the error message)
[code]
However, calling `(parser/parse-string "nil")` returns a node `<token: nil>`

Is this behavior by design? Would it conflict with anything to extend the `NodeCoerceable` protocol to `nil`-values?

[2016-11-02 13:06] xsc commented on #52
No, it's perfectly reasonable to implement the protocol for `nil` values.

[2016-11-02 19:45] jespera commented on #52
Would you accept a pull-request or is it not a thing you'd want in the main code-base?

[2016-11-02 19:49] xsc commented on #52
@jespera I'll gladly accept a PR for this! Sorry for being kinda vague in the previous comment. :)

[2016-11-02 20:17] jespera commented on #52
https://github.com/xsc/rewrite-clj/pull/53

[2016-11-02 20:39] #52 closed

[2016-11-02 21:02] xsc commented on #52
Released as 0.6.0.

[Release Notes](https://github.com/xsc/rewrite-clj/releases/tag/clojars-0.6.0)

[2016-11-02 21:10] xsc commented on #30
This has been released since 0.4.13, it seems. :)

[2016-11-02 21:10] #30 closed

[2016-11-02 21:41] jespera commented on #52
Very nice! Thanks a lot for the quick response. :+1:

[2016-12-03 22:08] kkinnear opened #54 "namespaced maps in Clojure 1.9 alpha don't work"
I'm trying to use rewrite-clj to parse code from Clojure 1.9 alpha, specifically namespaced maps.

The support is described here:

[https://groups.google.com/forum/#!topic/clojure-dev/8tHLCm8LpyU](https://groups.google.com/forum/#!topic/clojure-dev/8tHLCm8LpyU)

Doesn't seem to work for at least one case, and another case is ... questionable.

[code]
The exception appears to be coming from clojure

[2016-12-04 22:21] arrdem commented on #54
rewrite-clj does not support `#<keyword>` or `#::`. These are syntax extensions in an alpha version of Clojure. You could add support for these fairly easily by modifying the reader-macro parser to create a `reader-qualified-map`.

[2016-12-08 02:15] kkinnear commented on #54
Thanks very much for your response!  I'm still a bit confused.  Just a few more questions...

1. I get that you don't support alpha stuff, no problem.  Are you expecting to support namespaced maps at some point after Clojure 1.9.0 ships for general availability?  I think the tools-reader support is already there, at least judging from the changelog.

I'm not in any particular rush for this support

[2016-12-08 19:04] xsc commented on #54
@kkinnear rewrite-clj only uses tools.reader for literals, any structure that can contain whitespace is processed by an internal reader. I hope that clears up some confusion. :)

I don't expect namespaced maps to disappear, so from my side there is no objection to implementing it momentarily.

Check out the namespaces under `rewrite-clj.parser.*`, in this case the core namespace and [this multimet

[2016-12-10 21:48] kkinnear commented on #54
Thanks for the information, that makes things much clearer.  I haven't actually looked at the code in rewrite-clj much at all, entirely because it has worked essentially flawlessly for me!  It is a great library, and I wouldn't ever have attempted my pretty printer, zprint, if rewrite-clj didn't exist and work so well.

I may attempt to modify rewrite-clj for namespaced maps, though it will be som

[2017-06-23 14:37] stathissideris commented on #54
I tried looking into this but I'm a bit hesitant to continue because I'm uncertain on how to model namespaced maps. It looks like it would be something like the MetaNode where the first child is the namespace keyword and the second would be the map itself?

[2017-07-17 00:02] mynomoto opened #57 "Multiple metadata tokens don't work"
The following test case fails on the latest 2 examples that uses token for metadata. Only the `:private` metadata is on the sexp.
[code]

[2017-07-18 19:52] #57 closed

[2017-09-29 21:35] vemv opened #59 "Can it find sexps satisfying a predicate?"
Hey there!

Not sure if my need is very related to the goal of `rewrite-clj`, but there is some chance that it can be trivially solved with it.

Given a sexpr, like:

[code]

I'd like to take all the nodes that are a `case` statement.

e.g. `(mystery-fn '(defn a [] [[[[[[[(case 2 2 2)]]]] (case 1 1 1)]]]))` gives me `['(case 2 2 2), '(case 1 1 1)]`

Can this be easily achieved with rewrite-clj?

C

[2017-09-29 22:32] vemv commented on #59
Solved with lucid.query (https://github.com/zcaudate/lucidity):

`($ {:string "..."} [case])`

Easy! (thanks for the ace work @zcaudate)

[2017-09-29 22:32] #59 closed

[2018-04-01 21:32] SevereOverfl0w opened #60 "Overflow on new tools.reader"
This doesn't happen with tools.reader directly, so I presume it must be something in how this library works.

This happens on tools.reader 1.3.0-alpha3, which is used by clojurescript, hence it gets pulled in. This also happens with 1.0.5 (discovered by accident).

This only happens with `z/of-file`, not with `z/of-string`, so I worked around it by using `slurp`. I don't expect this to be a proble

[2018-04-11 11:37] matanster opened #61 "Atom integrations?"
Hi, and sorry for asking this here ― are there any known [Atom](https://atom.io) integrations for what they call "refactorings" in the Java/IDE world?

[2018-04-19 05:31] immoh opened #62 "rewrite-clj.zip/sexpr throws on form that begins with reader macro #_"
[code]

 I would expect it to return nil.

[2018-04-27 17:39] den1k commented on #60
Also running into this

[2018-05-10 14:17] #60 closed

[2018-05-10 14:29] xsc commented on #62
Hm, not sure about that. Technically, `nil` is not the s-expression corresponding to this node (because there is none). And it would create a weird contract for `sexpr` if `nil` means there is no s-expression since it would mess up handling of the `nil` literal.

You can use [`printable-only?`](http://xsc.github.io/rewrite-clj/rewrite-clj.node.html#var-printable-only.3F) to guard against these cas

[2018-05-10 14:29] #62 closed

[2018-08-12 10:52] fazzone opened #67 "z/sexpr on maps with splicing reader conditionals"
```(rzip/sexpr (rzip/of-string "{:foo :bar #?@(:cljs [:key :val])}"))```
This fails with `No value supplied for key: (read-string "#?@(:cljs [:key :val])")` at [this line](https://github.com/xsc/rewrite-clj/blob/e69d6404268b90bcc2b7f2c8119a80aeee20186a/src/rewrite_clj/node/seq.clj#L110)

Not sure if this is even a bug, or if it is, what the behavior should be.  Maybe the solution is don't do that!

[2018-09-20 08:09] plexus commented on #67
We also ran into this. Seems rewrite-clj applies hash-map to the forms inside a hash literal, and hash-map expects an even number of forms.

[2018-09-28 02:04] snoe opened #68 "Symbolic Value support"
Hi,

Apparently, this should parse `(z/of-string "##NaN")` but I get `java.lang.Exception: :reader-macro node expects 2 values. [at line 1, column 6]`

In the wild here: https://github.com/clojure/clojurescript/blob/master/src/main/cljs/cljs/test.cljs#L376

https://clojure.org/guides/weird_characters#__code_code_symbolic_values

Looks like it was added in 1.9.0-alpha20

[2018-09-30 05:12] snoe opened #69 "Stackoverflow using postwalk on clojurescript/analyzer.cljc and clojurescript/core.cljc"
This seems to be purely a function of the size of the file, or the number of forms and not anything in the file in particular as I can remove either the first ~2000lines or the last ~2000lines (at a form boundary) and there's no exception.

Grab the file:
[code]

In the repl:
[code]

Exception:
[code]
***... last two entries repeat for a few hundreds of lines**

[2018-11-21 14:58] plexus opened #70 "zip/right does not skip over uneval nodes"
`rewrite-clj.zip/right` skips over whitespace, comments, commas, newlines, but does not skip over uneval nodes.

I thought this was quite surprising. Is this intentional?

[2018-12-06 03:55] zcaudate commented on #4
Can this ticket be closed?

[2018-12-09 09:35] #4 closed

[2018-12-10 23:10] lread commented on #54
As #66 states, I see we need support for self-namespaced maps: `#::{:y 1}`
I can take a stab at this. I think this means adding a parser for namespace maps.

[2018-12-11 23:34] lread commented on #54
As I work at this I have some questions for some kind soul to help me out with:
1. Namespace map vs namespace**d** map.  Since current code already uses namespaced, I will stick with that.
1. Am I breaking people if I alter the fields of `defrecord` for existing`NamespacedMapNode` from `children`?
1. Proper nomenclature for namespaced map variants is not super clear to me. I'm going with:
   1. `#

[2018-12-12 17:38] kkinnear commented on #54
I'm delighted that you are taking this on.  I wish I had some more answers to your recent questions, but my real-world experience with namespaced maps is nil.  So to speak.  However, as a user of rewrite-clj, I care a lot that it will parse all legit clojure.  Currently it will successfully parse 6i and 6iii, but not 6ii.

The output from rewrite-clj.zip/string and rewrite-clj.zip/sexpr for these

[2018-12-12 18:58] lread commented on #54
Thanks for taking the time, much appreciated!

At this point I am not proposing anything to be honest. I'm just trying to understand what current and desired behavior is.

I thought I understood what current `sexpr` behavior is for 6i and 6iii [from current tests](https://github.com/xsc/rewrite-clj/blob/f515767e4f07f27389ee2885cb459bd87d903887/test/rewrite_clj/parser_test.clj#L234).

Ah... I see..

[2018-12-12 21:46] lread commented on #54
I've made some good progress, but am still feeling dumb about `sexpr` and what it should be doing.
So maybe I should just be replicating what the REPL does. I tried with `lein repl` but then realized there are some bugs therein. Trying with `clj` has much better results, I am able to [REPLicate these examples](https://dev.clojure.org/jira/browse/CLJ-1910):
[code]
So I'll match this behavior at the

[2018-12-13 15:36] kkinnear commented on #54
What you are doing looks good to me.  My code works almost exclusively with the .zip namespace, so I don't really know what the node namespace is really about.  Regarding the navigation, what you have described is what I see now for the namespaced maps that rewrite-clj handles already.  Currently the navigation seems to yield the the original namespaced map arg as the first element.  Which I would

[2018-12-13 17:36] lread commented on #54
Hey, thanks for your continued interest and help.  I am actually attempting this fix for [cljfmt](https://github.com/weavejester/cljfmt), which I am a neophyte contributor to.

As to your traversal concern, yeah, you are right, we'll need the `::` token.

Here's what v0.6.1 returns for currently supported namespaced maps:
[code]

For our new syntax `#:: {:a 1}`, `zip/node` should return `<namespac

[2018-12-13 19:17] kkinnear commented on #54
I'm with you up until the part about breaking out the `<token ":">` from `:prefix`.  I could certainly deal with that, though it would be a change from what I'm doing today for those cases that currently work.  That isn't a bad approach, but I don't see the reason for making a change from the current behavior.  I'm thinking that a lot of current code would continue to work if you didn't parse the

[2018-12-13 19:36] lread commented on #54
Ok, thanks, that helps very much.

So, we'll stick with parsing to keywords for namespaced map args as in v0.6.1, but for our new syntax `#::{:a 1}`, I'll encode the namespaced map arg `::` to string (I wasn't really seeing this an arg before, but now I am).

I'm suggesting string because although I might be able to contrive a `::` keyword, it doesn't seem right. Am I right?
[code]

[2018-12-13 23:53] lread commented on #54
Ok, I have grown, I have learned, `(symbol "::")` gives me what I need.  So I can be consistent and store `::` as a symbol.

[2019-02-24 06:06] vemv opened #73 "How to do a prewalk of all nodes?"
Hi,

great library, I'm having fun playing with it.

I'm struggling though with prewalk/postwalk. I would have expected it to traverse all nodes of a given zipper, but it actually only traverses the first node.

e.g. in https://github.com/xsc/rewrite-clj/blob/f515767e4f07f27389ee2885cb459bd87d903887/test/rewrite_clj/zip/walk_test.clj , if I make this change:

![image](https://user-images.githubuse

[2019-02-24 06:07] vemv commented on #73
Whoops sorry, fat-fingered an empty issue submission. I'll add a description now

[2019-02-24 07:26] vemv commented on #73
I got it:

[code]

Might be worth documenting/testing, so newcomers can see a variety of example use cases.

[2019-02-24 07:26] #73 closed

[2019-03-20 19:59] borkdude opened #75 "Can't read ##Inf, ##-Inf and ##NaN"
This works:
[code]
but this doesn't:

[code]
It fails with:

[code]

[2019-03-25 15:19] borkdude commented on #54
Note that nested namespaced maps should also work:

[code]

[2019-03-25 17:03] lread commented on #54
Thanks very much @borkdude, I'll check if #71 addresses this and rectify if necessary.

Notes to self:
[code]

[2019-03-25 18:21] lread commented on #54
@borkdude, I added some nested namespaced map tests to confirm that #71 addresses your issue. It seems good to me.

[2019-03-26 22:58] borkdude opened #76 "Question: should rewrite-clj be able to run with newer versions of tools.reader?"
I tried rewrite-clj and in a project where one of the dependencies needs tools.reader 1.3.2.
With that newer version on the classpath, `p/parse-string-all` causes an exception when reading this file:

https://raw.githubusercontent.com/clojure/math.numeric-tower/master/src/main/clojure/clojure/math/numeric_tower.clj

[2019-03-26 23:03] lread commented on #76
Very interesting. Did it succeed with an older version of tools.reader?

[2019-03-26 23:08] borkdude commented on #76
Yes. The library in question which requires the newer tools.reader is nippy 2.15.0-RC1. It works when I use 2.14.0 which uses an older version of tools.reader.

[2019-03-26 23:11] borkdude commented on #76
The full stacktrace:

[code]

[2019-03-29 10:22] plexus commented on #70
@xsc could you comment on this? would you consider accepting a PR that changes this behavior?

In Depot we now have our own versions of left/right/next all to deal with uneval nodes. Every time we accidentally use `rewrite-clj.zip/right` or `next` instead of our own version we run into problems. See https://github.com/Olical/depot/blob/master/src/depot/zip.clj

[2019-03-29 14:58] lread commented on #70
Hi @plexus, since this could break things like code formatters, do you think it should it be an option when creating the zipper?

[2019-03-30 15:21] plexus commented on #70
The first question is if it's a bug or a feature. If it's a bug then I think the right thing to do is to add a `rewrite-clj.zip2` namespace with the new behavior, or add variants of `left`/`right`/`next` to `rewrite-clj.zip` with different names. That way you don't break existing consumers.

If it's a feature then we'll just continue to work around it outside of `rewrite-clj`

[2019-04-11 00:23] sogaiu commented on #70
On a related note, I'm investigating the idea of a zipper that doesn't skip comments but does skip whitespace.  Is a general mechanism for tweaking / configuring what is skipped at zipper-creation time of any interest?

On a related note, I would also prefer to have the behavior of uneval being skipped if comments are configured to be skipped.

[2019-05-10 08:26] borkdude commented on #54
For clj-kondo I was able to get the behavior I wanted with this patch:

[code]

[2019-05-16 12:02] borkdude commented on #54
Update: I have patched rewrite-clj for my own usage here:
https://github.com/borkdude/clj-kondo/blob/12601c5873aad4faa999eeb7324746e49fec25d0/src/clj_kondo/impl/parser/namespaced_map.clj#L1

here:
https://github.com/borkdude/clj-kondo/blob/12601c5873aad4faa999eeb7324746e49fec25d0/src/clj_kondo/impl/node/seq.clj#L1

and here:
https://github.com/borkdude/clj-kondo/blob/12601c5873aad4faa999eeb7324746

[2019-05-21 15:42] borkdude commented on #54
Another remark @xsc @lread:

This 'just' works:

[code]

I discovered that nested namespaced maps work, if and only if you have an alias in the namespace where you're calling the parser:

[code]

[code]

But that seems wrong to me. The namespace in which the parsing runs should be completely detached from the code you’re analyzing.

[2019-06-05 21:46] borkdude commented on #76
I narrowed it down to this line:

[numeric_tower.clj.zip](https://github.com/xsc/rewrite-clj/files/3259170/numeric_tower.clj.zip)

It seems to be related to the use of carriage returns?

![Screenshot 2019-06-05 23 42 27](https://user-images.githubusercontent.com/284934/58992611-96e27a80-87eb-11e9-96cb-9ff1619c9763.png)

It works with the default tools.reader dependency, but not with `1.3.2`.

[2019-06-21 22:31] lread opened #77 "Where to release a cljc version of rewrite-clj?"
Hello @xsc,

First, let me send you a heartfelt thank you for rewrite-clj. It is really quite a nice library you have created here!

Second, thank you for taking the time to read this git issue. I do hope you find a moment in your busy schedule to respond.

Third, I hope you'll forgive me sending this as a git issue, I did send you an email with similar content at the end of April - I fear it migh

[2019-06-22 08:13] danielcompton commented on #77
Another idea would be to release your work under clj-commons/rewrite-cljc. This would make clear that it's a new project that works with both Clojure and ClojureScript but was derived from rewrite-cljs and rewrite-cljc. It would be ideal to be able to work with @xsc on this if possible though.

[2019-06-22 17:57] lread commented on #77
Thanks @danielcompton!
I think my likely fallback will be: **Option 5 - Release under clj-commons/rewrite-cljc**

[2019-10-01 17:56] snoe commented on #75
@lread would it be possible to get a pr for your fix? https://github.com/lread/rewrite-cljs-playground/commit/ccdd11e2ca0a4f5e767af4310e81128526931b54

[2019-10-02 13:45] lread commented on #75
Hi @snoe, it seems like rewrite-clj is not currently actively maintained so a PR here would likely not be fruitful.

Note that rewrite-cljs-playground will eventually become rewrite-cljc.

[2020-04-29 21:35] awb99 opened #78 "read expressions with comment sections"
I want to read all form in a file, including the full comments.
With the default clojure reader this works:
[code]

However this does not work (the comment gets lost:
[code]

Is there a way to extract this data with rewrite-clj ?
Could someone give me a sample or pointer how to do it?

[2020-05-02 14:52] doby162 opened #79 "map-vals and map-keys don't understand #_uneval-nodes"
This seems related to https://github.com/xsc/rewrite-clj/issues/70, but it causes the nodes returned bu map-vals and map-keys to not correctly correspond to the values and keys in a hashmap if the hashmap contains uneval nodes.

[2020-05-02 14:57] borkdude commented on #79
@doby162 It might be worth checking if https://github.com/lread/rewrite-cljc-playground solves this problem for you. The author @lread is working on this as a merger of rewrite-clj and rewrite-cljs. I've been using it in [carve](https://github.com/borkdude/carve) which has been exposed to quite a lot of code and so far I haven't heard anyone complain.

[2020-05-02 15:01] doby162 commented on #79
Thank you, I'll check that out!

[2020-07-14 10:28] guoyongxin opened #80 "What is the proper way to zip back to the begin of zloc?"
If I have traverse the zipper in one pass, and made some edit along the way, I want to check if this zipper is dirty, is there anyway to do it?
And I I want to nav back to the start of this zipper, what is the best way to do that?

[2020-07-30 02:23] MarcoNicolodi commented on #80
To see if changed:
;;given a zipper called nodes

`(:changed? (second nodes))`

to zipback, in the place I work, weve created this helper function:

[code]

[2020-07-30 02:31] MarcoNicolodi commented on #78
This just works with rewrite-clj.

You can read a in memory string:
[code]

Or you can read from a file, containing this code:
`(z/of-file "path-to-file")`

Once youve read, youve got a zipper to navigate. If you want to change the '+' into '-', and the '2' into '3':

[code]

Once youve done you rewritings, you can use `z/root-string` to transform the zipper back to the string and spit it to a fil

[2020-08-09 16:15] vemv commented on #69
I experienced this recently and could fix it by increasing the stack size:

[code]

[2020-08-13 05:24] guoyongxin commented on #80
One thing I noticed is that if I edit a zipper and then find the values after edit, the `:changed?` state would be reset. Is this expected?
Or the `:changed?` is just for a node, not for the whole zipper?

[code]

[2020-08-14 13:03] theronic opened #82 "How to insert lists/vectors and slurp up nodes?"
I'm trying to rewrite midje tests of the form `(fact (op 1 2 3) => [4 5 6])` into clojure.test forms like so `(is (= [4 5 6] (op 1 2 3)))`, but I'm having hard time figuring out how to insert new list elements and slurping up leaf nodes.

[code]

How can I insert lists/vectors/maps and conduct the Paredit equivalent of "slurping" or "spitting" values into those data structures?

[2020-08-14 17:25] lread commented on #82
Hi @theronic!

Even though I am working on [rewrite-cljc](https://github.com/lread/rewrite-cljc-playground), I don't have a ton of experience as a user of rewrite-clj, so I am happy when I get to try out a real world example.

I don't use midje and don't know if you need to narrow down which `fact`s you match, nor how much existing whitespace formatting you'd like to preserve, but here's something

[2020-08-14 17:55] lread commented on #80
Hi @guoyongxin,

I'm working on [rewrite-cljc](https://github.com/lread/rewrite-cljc-playground) and and happy to take a crack helping you out.

A small caveat: `:changed?` is an internal implementation detail of the zipper.

Changes are applied as you move `up` the zipper.

What's your motivation for checking that your zipper is dirty?  Would checking the result suffice? Would something like the

[2020-08-14 20:49] theronic commented on #82
Thank you! How can I apply that replacement to all `(fact ... => ...)` expressions in a big test file using `z/of-file`?

I tried to use `(iterate #(z/find-value ...) loc)` but keep running into infinite loops. Replacing nested `(fact ...)` statements would also be nice, but I think `z/next` should find them.

[2020-08-14 22:49] lread commented on #82
Hey @theronic, I am sure there are many ways to achieve your goal, but I thought walking might be a fun place to explore.  In this version I am more careful to only match a `fact` if it is at the beginning of a list and preserve any whitespace/comments that might have been within `original` and `actual` values.

Here's what I came up with:
[code]

Results in:
[code]

I don't know what the syntax i

[2020-08-17 08:05] theronic commented on #82
Thanks! My version expects a docstring, ala `(fact "test description docstring" ....)`, but should probably check for both:

[code]

I arrived at rewrite-clj because of this CircleCI [blog post](https://circleci.com/blog/Adding-container-security-scanning-anchore/) which is exactly about rewriting a Midje test suite to clojure.test.

[2020-08-17 14:08] #82 closed

[2020-08-20 08:58] guoyongxin commented on #80
Hey Iread, thanks for your help.

The reason I want to check zipper dirty is that I want to write two parts of a function which are decoupled.

The story is I'm using some iteration to do replacement for my code by zipper. And I only want to do some post change if the previous step is dirty.

Thanks for your suggestion I would try it

[2020-08-31 15:54] drorbemet opened #83 "inserting an item in form of a formated string"
After looking into the sources of rewrite-clj and cljfmt I still am missing an example of the following use-case:
Given a string containing some custom formatted lisp and a zloc: insert the string at the zloc as lisp-form keeping whitespace intact. In other words how to insert a rewrite-clj-node into some zloc?

[code]
Expected result:
[code]
For comparison the example with an sexp-form without fo

[2020-08-31 16:23] lread commented on #83
Hi @drorbemet,

I'm currently working on [rewrite-cljc](https://github.com/lread/rewrite-cljc-playground) and am happy to take a stab at lending a hand here.

At least part of the issue is that `rewrite-clj.zip/replace` is expecting a node for the `value` argument, but your code is instead passing a zipper location.

One way to deliver a node would be to use `rewrite-clj.parser/parse-string`:

[co

[2020-08-31 18:10] drorbemet commented on #83
parsing to zloc vs parsing to node got it. Thanks alot. Yes this helps me on my path.

[2020-08-31 18:10] #83 closed

[2020-09-28 10:52] #80 closed

[2020-10-13 08:34] guoyongxin opened #84 "Is it possible to keep format when moving the code"
I want to implement some code refactor like below

[code]
Change to:
[code]

What I'm currently doing is using zipper to find the `inside-macro` and goes up and edit the location by replacing the whole form/list with the task name like `sub-task1`. And I save the original code by the `z/sexpr`. And insert these code on the top.

The issue is the moved code to the top becomes a one line code instea

[2020-10-16 16:28] lread commented on #84
Hi @guoyongxin,

I'm currently working on [rewrite-cljc](https://github.com/lread/rewrite-cljc-playground), so I am happy to take a stab at answering your question.

In short, if you want to preserve formatting, you want to work with rewrite-clj nodes rather than s-expressions.

I'll try to illustrate using your source example:

[code]

If I grab the rewrite-clj node of sub-task1:
[code]

I can in

[2020-10-29 02:42] guoyongxin commented on #84
Hi @lread,

Thanks a lot for the detail explanation.That is really helpful. I have fix the formatting as the way you showed by rerewire-clj. And YES, cljfmt is nice as well.

Appreciate your kindness for the clojure newbie

[2020-10-29 02:42] #84 closed

[2020-12-31 15:08] lread commented on #77
Option 3 for the win!

[2020-12-31 15:08] #77 closed

[2021-01-06 02:18] ericdallo opened #86 "Bug with z/map"
Hey, not sure if it's a bug with z/map, but if I have a seq of children nodes and I want to map over them removing the nodes, it doesn't not work

[code]

It seems it removes only the first element, so I did a workaround that almost work:
[code]

But If I have to remove all elements it doesn't work, it always reduce the children to only one.

[2021-01-06 21:46] lread commented on #86
Hey @ericdallo, thanks so much for reaching out with your observation!

Although the docstring does not currently mention it, I think that `z/map` was not intended to be used with operations that affect the zipper location.

After `[foo :as f]` is removed the zipper locates to the "the first non-whitespace
node that would have preceded it in a depth-first walk".
So we are now at list `([bar :as b]

[2021-01-06 21:53] ericdallo commented on #86
Thank you for the reply @lread!

I did a very ugly workaround for that [here](https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/refactor/transform.clj#L258-L264) 😅

But I'd like to know the canonical way to fix that if possible :).
The issue is that in the code, I need to walk into each `require` (children nodes) and check if it's unused in the code, if so, remove it, I really

[2021-01-07 20:01] lread commented on #86
Heya @ericdallo!

I find `z/remove` a little challenging sometimes myself.

There are many ways to solve a problem, I personally think your work-around isn't horribly ugly.

I think the difficulty in your use case is that you want to constrain conditional removal to direct children but `z/remove` moves the zipper location outside of your desired constraint in ways that are not easy to detect.

The

[2021-01-07 20:14] ericdallo commented on #86
Uow, what a detailed reply, thank you very much for the example @lread, I could understand and I'll try to change the workaround for this ASAP!
I let you know if it works

[2021-01-08 00:43] ericdallo commented on #86
@lread it worked!
I just changed it a little bit to `map-children` since for my case since not necessarily want to remove it, for other cases I want to replace it with another node, but the core is what you suggested, thank you very much!

This is the [final code](https://github.com/clojure-lsp/clojure-lsp/commit/3a34e84d600a6830601348a7f2bea86a502bcfbf#diff-891cc9d6709438af922e6431b63e810ee66b20f

[2021-01-08 00:43] #86 closed

[2021-01-08 16:04] lread commented on #86
Glad it worked for you @ericdallo, thanks for following up!

[2021-01-22 02:39] ericdallo opened #87 "Allow parse wrong code"
Yeah, it sounds weird, let me give some context:

On [clojure-lsp](https://github.com/clojure-lsp/clojure-lsp), we have a completion code feature, where the user types something and we try to complete the code, so for example if user writes: `foo/b` we suggest to complete with `foo/bar` if that function exists.
To that work, we parse the whole file and search for a node at the given row/col, the i

[2021-01-22 03:07] sogaiu commented on #87
FWIW, there is some discussion of trying to work with "incomplete" forms starting here: https://clojurians-log.clojureverse.org/rewrite-clj/2019-11-12/1573599410.186700

The discussion ends on this day: https://clojurians-log.clojureverse.org/rewrite-clj/2019-11-14

The approach might be described roughly as "automatic closing of delimiters".

Where that ended up was this code: https://github.com/

[2021-01-22 16:26] ericdallo commented on #87
Thank you for the response @sogaiu, yeah, that'd be really useful, does that branch already works?
How could I test it?

[2021-01-22 21:51] lread opened #88 "custom-root-zipper position property based test failed"
Copied from rewrite-cljc-playground, fix to be reapplied to rewrite-clj

**Version**
master

**Platform**
Operating System: macOS 10.15.6
Clojure version: 10.1.0
JDK vendor and version: openjdk 11.0.7

ClojureScript
- version: 1.10.773
- tooling: shadow-cljs
- host: node

**Symptom**
As I was trying to figure out how shadow-cljs was bringing in correct dependencies, I triggered a failure in proper

[2021-01-22 21:52] lread opened #89 "Verify that tests exists for invalid maps"
Copied from https://github.com/lread/rewrite-cljc-playground/issues/46, fix to be reapplied to rewrite-clj:

While chatting with borkdude on Slack, he mentioned a feature of rewrite-clj he makes use of is its ability to parse invalid maps, for example: {:a} parses without complaint.

Verify that there are tests around this behaviour. People are depending on it and, as such, we'd like to preserve i

[2021-01-22 21:57] lread opened #90 "Consider eliding reader produced metadata"
Adapated from https://github.com/lread/rewrite-cljc-playground/issues/63, fix to be reapplied to rewrite-clj

**Problem/Opportunity**
Rewrite-clj and therefore rewrite-cljc automatically coerces metadata to nodes.

When the metadata comes from the reader rather than the actual source code, this might cause confusion (see #37).

For example in Clojure, `:line` and `:column` metadata are added to qu

[2021-01-22 21:58] lread opened #91 "Verify rewrite-cljc prefix and suffix functions"
Copied from rewrite-cljc-playground https://github.com/lread/rewrite-cljc-playground/issues/15, fix to be reapplied to rewrite-clj:

These functions came to me with no docs. They can currently be found under rewrite-cljc.editz.

Verify my guess at their docstrings.

Once I understand intent, behavior might need to be corrected.

[2021-01-22 22:17] lread opened #92 "Support garden style selectors"
Reapply rewrite-cljc-playground changes:

Adopt borkdude's fix for clj-kondo/clj-kondo#301.

[2021-01-22 22:44] sogaiu commented on #87
@ericdallo It was a while back, but my current recollection is that it did work in limited testing.

There are only 5 lines to change in a single file, so perhaps it's possible to just make the changes manually on your end to try it?

[2021-01-22 23:24] ericdallo commented on #87
Great! I'll try to change it and release it local, thank you!

[2021-01-22 23:33] lread commented on #78
This seems like an excellent answer @MarcoNicolodi, much thanks.
Closing issue.

[2021-01-22 23:33] #78 closed

[2021-01-22 23:40] lread commented on #61
Sorry, don't know the answer to that one @matanster!
Maybe consider asking on [Slack Clojurians Atom channel](https://clojurians.slack.com/archives/CPUTQ6PV5)?

[2021-01-22 23:40] #61 closed

[2021-01-22 23:42] lread commented on #28
I think this is done in rewrite-clj v0, but will review more carefully.

[2021-01-22 23:54] lread commented on #76
Thank you for your question, please hold for 668 days. 🙂

We are using tools.reader v1.3.4 in rewrite-cljc which will soon be carried over to rewrite-clj v1.

If you have any related concerns please share 'em, otherwise I think we can close this one.

[2021-01-22 23:55] lread commented on #54
Ignore all the above conversation... it is stale... but we do have namespaced element support in rewrite-cljc and it will be carried over to rewrite-clj v1.

[2021-01-23 00:23] ericdallo commented on #87
I managed to release a local rewrite-clj with that change, but I probably doing something wrong, I could not use `binding` to change the *parse-anyway* value and even if declaring it with a `true` value and releasing again, the parser throws an exception anyway

[2021-01-23 04:32] sogaiu commented on #87
I don't know how readable the following will be, but here is a section of code I was using at one point that I think used the feature in question: https://gist.github.com/sogaiu/b6286feeaefc326a449af109f4a4b77d#file-script-clj-L217-L245

What you described:

seems to be  basically what I was doing, so I'm not sure my code will be of much use.

I suppose it's also possible that the branch I was usi

[2021-01-23 14:14] ericdallo commented on #87
Not sure I am doing anything wrong here, both have the same exception:
[code]
[code]
and
[code]
[code]

[2021-01-23 16:27] snoe commented on #87
So, for completion, we don't actually need to parse, if we simply tokenized with something like indexingpushbackreader, I believe we could avoid a lot of this.

[2021-01-23 16:30] borkdude commented on #87
@snoe Do you mean avoid using rewrite-clj at all and tokenize using a normal Clojure reader?

[2021-01-23 16:32] ericdallo commented on #87
How could we do that @snoe ?

[2021-01-23 16:33] borkdude commented on #87
I have an example using edamame for self-repairing code if the code has insufficient closing delimiters:

https://github.com/borkdude/edamame/blob/ffef4b2085c1fab4b55b36061d4844a1da762b81/test/edamame/core_test.cljc#L121-L130

[2021-01-23 19:08] lread opened #93 "Handle OS specific newlines"
Raised by @kkinnear in rewrite-cljc-playground, see https://github.com/lread/rewrite-cljc-playground/issues/62

**Problem/Opportunity**
It seems that `rewrite-clj` handles a variety of line endings successfully by mapping them all into `\n`.  That is, if you have `\n` or `\r\n` or even `\r` line endings, after parsing, looking at the result of the parse, you get `\n` everywhere.  Which is a fine t

[2021-01-23 19:10] lread opened #94 "find-by-last-pos behavior"
Raised by me rewrite-cljc-playground, see https://github.com/lread/rewrite-cljc-playground/issues/3

making sure I don't lose this question from @sogaiu on #slack

suppose in ../clojure there is a checkout of clojure and rewrite-clj has been patched to include find-last-by-pos (https://github.com/lread/rewrite-cljs-playground/blob/master/src/rewrite_clj/zip/findz.cljc#L44_L57) (and may be some oth

[2021-01-23 19:12] lread opened #95 "Review usage of assert"
Raised in rewrite-cljc-playground, see https://github.com/lread/rewrite-cljc-playground/issues/59

[2021-01-23 19:13] lread opened #96 "Consider not overriding default printing behaviour for nodes"
Raised in rewrite-cljc-playground, see https://github.com/lread/rewrite-cljc-playground/issues/64

[2021-01-23 19:15] lread opened #97 "Beef up docs on node creation"
Originally raised by me here https://github.com/lread/rewrite-cljc-playground/issues/68

Had a great chat with @vemv on Slack, his focus is currently on metadata nodes, but I think specific examples will help with general concepts.

**vemv:**
I noticed that the following forms don't have test coverage (?):
[code]

I constructed those with` base/of-string` but I'm not entirely sure of how one would

[2021-01-23 19:20] lread opened #98 "Discard potemkin import-vars"
Originally raised by @vemv in rewrite-cljc-playground, see https://github.com/lread/rewrite-cljc-playground/issues/67

**Problem/Opportunity**

Potemkin has problems which you can find summarized in https://github.com/metosin/compojure-api/issues/445 .

Additionally to that link one can find one extra problem associated to it: https://github.com/jonase/eastwood/issues/307

**Proposed Solution**

O

[2021-01-23 19:26] lread commented on #98
Issue comments from rewrite-cljc-playground:

**@lread:**
Thanks @vemv, your input is much appreciated!

Here are my [notes on the subject]( https://github.com/lread/rewrite-cljc-playground/blob/master/doc/design/01-merging-rewrite-clj-and-rewrite-cljs.adoc#potemkin-import-vars) (a little of out of date, updates at the time of this writing are: cljdoc, cloverage and clj-kondo (with hooks) now work

[2021-01-23 19:30] lread commented on #96
Issue comments from rewrite-clj-playground:

**@sogaiu:**
If compatibility is an issue, is the idea of having an option to switch behaviors worth considering?

**@lread:**
Thanks @sogaiu, yes absolutely! But I won't bother with supporting backward compatibility if no popular library is relying on the current print behaviour.

**@sogaiu:**
It would be nice to be able to ask users of rewrite-clj* di

[2021-01-23 19:35] lread commented on #95
Issue comments from rewrite-cljc-playground:

**@borkdude:**
Please don't replace with explicit throws.

Also please don't replace with spec, unless the specs are in a different namespace and optional to load.

**@borkdude:**
Elaborating:

The checks in asserts are mostly useful for developers. They should be elidable at compile time for performance.
For the same reason spec checking should be abl

[2021-01-23 19:37] lread commented on #94
Issue comments from rewrite-cljc-playground:

**@sogaiu:**
Here's an attempt at a briefer version of the question:

`find-last-by-pos` returns nil in at least 2 cases -- if the specified position indicates a location before all top-level forms for the zipper in question as well as in the case where the location is after all top-level forms.

nil doesn't tell us which case.

If the zipper in questi

[2021-01-23 19:40] lread commented on #93
Issue comments from rewrite-cljc-playground:

**@lread:**
Oh that’s a good one @kkinnear! Thanks for raising it!

I will address.

I suppose ideally rewrite-cljc would just preserve existing line endings, but in the spirit of compatibility with rewrite-clj, I’ll have it convert all to `\n`.

**@kkinnear:**
For what it is worth, at least in my processing, I think converting all line endings to `\n`

[2021-01-23 19:46] lread commented on #88
Comments from rewrite-cljc-playground:

**@lread:**

**Diagnosis**
This was a bit confusing to diagnose.

Test.check kindly and correctly tells us the smallest sample that causes a failure:
[code]

It looks like an empty `unquote-splicing-node` is the issue but rewrite-clj's override of default printing bit me here.  After some quality time with the cider debugger, I figured out that I really have

[2021-01-23 19:52] lread opened #99 "Come up with rewrite-clj logo"
Originally raised by me https://github.com/lread/rewrite-cljc-playground/issues/69

Rewrite-cljc is dead, long live rewrite-clj.

[2021-01-23 19:54] lread commented on #99
Comment in issue from rewrite-cljc-playground:

**@lread:**
Current candidate:

![rewrite-clj-logo](https://user-images.githubusercontent.com/967328/104786953-664f1a80-575c-11eb-852c-fcccc9e03be2.png)

Can always change later, at least we have something to start with.

**@sogaiu:**
Looks nice :)

Is there some hidden aspect of "change" in the logo (the looping back)?

**@lread:**
Thanks @sogaiu!

[2021-01-23 19:56] lread opened #100 "Introduce automated testing for source code examples in docs"
Originally raised by me as https://github.com/lread/rewrite-cljc-playground/issues/66

Sean Corfield has an [interesting project](https://github.com/seancorfield/readme) that turns Clojure REPL source blocks in .md files into tests and runs them.

This is a great idea and I'd like to adapt the some equivalent approach Clojure source blocks in rewrite-cljc docs:
- we use asciidoctor instead of Comm

[2021-01-23 19:59] lread opened #101 "Consider testing against a large sample of source code from the wild"
Originally raised by me as https://github.com/lread/rewrite-cljc-playground/issues/58

Was chatting with @sogaiu about testing against samples from the wild.
He is experimenting with using clojars as a source for his projects.

Other ideas:
* cldoc as a source - selecting projects that have been successfully processed by cljdoc means we are selecting projects that have been successfully loaded. Th

[2021-01-23 20:01] lread opened #102 "Verify that rewrite-cljc handles deftype,defrecord and constructor reader syntaxes"
Originally raised by me as https://github.com/lread/rewrite-cljc-playground/issues/55

As per [Clojure docs](https://clojure.org/reference/reader#_deftype_defrecord_and_constructor_calls_version_1_3_and_later), the following are valid:

* `#my.klass_or_type_or_record[:a :b :c]`
* `#my.record{:a 1, :b 2}`

What does rewrite-cljc do with these?
What should it do?

[2021-01-23 20:03] lread opened #103 "Study reader-macro node's sexpr return of read-string"
Originally raised by me as https://github.com/lread/rewrite-cljc-playground/issues/53

I discuss rewrite-clj v0 and rewrite-cljs here, but the behaviors described have been inherited by rewrite-clj v1.

While studying namespaced elements, I noticed that a parsed reader macro will `sexpr` to a list starting with `read-string`.

Dispatch reader macros that are understood by rewrite-clj will return w

[2021-01-23 20:03] lread commented on #103
Issue comments from rewrite-cljc-playground:

**@lread:**
Another example (from @sparkofreason on Slack):

[2021-01-23 20:05] lread opened #104 "Look into summarizing changes to rewrite-clj/rewrite-cljs into separate doc"
Originally raised by me as https://github.com/lread/rewrite-cljc-playground/issues/34

Idea from chat with @borkdude on Slack:

I have a good description detailing changes from rewrite-clj and rewrite-cljs in my migration design doc, but these details might better serve the community if they were dissected to a separate doc that can be maintained independent of the initial migration.

[2021-01-23 20:06] lread opened #105 "Review all TODOs in docs"

[2021-01-23 20:07] lread opened #106 "Consider testing from public API"
Originally raised by me as https://github.com/lread/rewrite-cljc-playground/issues/25

rewrite-cljc uses import-vars to promote functions from internal namespaces to its public API.

But... tests are typically carried out against internal namespaces instead of the public API.

This means that tests won't catch import-vars errors.

[2021-01-23 20:08] lread commented on #106
Another benefit is to folks who look at tests for usage, they will be less likely to use internal APIs.

[2021-01-23 20:09] lread opened #107 "Should rewrite-cljc.node.protocols be part of public API?"
Originally raised by me as https://github.com/lread/rewrite-cljc-playground/issues/24

Originally I thought that rewrite-clj's codox documentation of node.protocols namespace was perhaps an oversight.

But maybe it should be documented (and therefore considered public) to allow for custom node types.

[2021-01-23 20:13] lread opened #108 "Review deployment strategy for rewrite-clj v1"
Originally raise by me as https://github.com/lread/rewrite-cljc-playground/issues/21

I'd like to have a more complete plan for deployment.

- [x] release cadence. I would like to release any changes as soon as they are ready.  I'm not interested in having big releases with many changes when doing so is unnecessary.
- [x] strategy for change logs.  <del>I am leaning towards no changelog file, but

[2021-01-23 20:14] lread commented on #108
Issue comments from rewrite-cljc-playground:

Might be of interest: https://github.com/jlesquembre/clojars-publish-action

[2021-01-23 20:16] borkdude commented on #108
@lread I am now keeping a CHANGELOG.md file in the repo for most of my projects.

[2021-01-23 20:16] lread opened #109 "Add large file tests"
Originally raised by me as https://github.com/lread/rewrite-cljc-playground/issues/18

From the wild find a large clj, large cljc and large cljs file.

Parse, make no changes, and verify spit is same as original.

[2021-01-23 20:17] lread opened #110 "Review all TODOs in source code"
Create new issues as necessary.

[2021-01-23 20:18] lread opened #111 "Describe subedit in docs"
Originally raised by me as https://github.com/lread/rewrite-cljc-playground/issues/16

Review current docs and adjust docstrings and adoc appropriately.

I think an example of usage would be beneficial.

[2021-01-23 20:19] lread opened #112 "Push along cljdoc support for asciidoc formatting"
Originally raised by me as https://github.com/lread/rewrite-cljc-playground/issues/14

rewrite-cljc makes use of asciidoctor features that do not currently have support on on cljdoc.

Push along cljdoc/cljdoc#334 so that reading rewrite-cljc docs on cljdoc will be a good experience.

[2021-01-23 20:23] lread opened #113 "Add a way to check if a node is sexpr-able"
Originally raised by me as https://github.com/lread/rewrite-cljc-playground/issues/4

I continue to move my TODOs to git issues.

A while ago @sogaiu noticed there was no way to check if a node is sexpr-essable and shared the following code as some "scratch work".

[code]

Looks like a good addition to me, hence this git issue to remember to incorporate.

[2021-01-23 20:26] lread commented on #113
Actually, I think `printable-only?` does what we want, but maybe a synonym fn of `sexpr-able?` would help folks out.

[2021-01-23 20:26] lread opened #114 "https://github.com/lread/rewrite-cljc-playground/issues/5"
Originally raised by me as https://github.com/lread/rewrite-cljc-playground/issues/5

Related to #113 - capturing valuable feedback from @sogaiu so I don't lose it.  Need to review and evaluate more type related helpers.

Snippit from @sogaiu
[code]

Also: [pointer to similar can be found within clj-kondo fork of rewrite-clj](https://github.com/borkdude/clj-kondo/blob/master/src/clj_kondo/impl/uti

[2021-01-23 20:27] lread commented on #114
Issue comments from rewrite-cljc-playground:

**@lread:**
Was chatting with @borkdude on Slack and type came up again.  Perhaps a `(type node)` might a good addition.  @borkdude said that such a feature would allow him [to avoid code like this](https://github.com/borkdude/clj-kondo/blob/2fb61754456e6d35f136b340e8aa40064699c907/src/clj_kondo/impl/types.clj#L213).

**@lread:**
More chats on Slack, @

[2021-01-23 20:29] lread opened #115 "consider allowing metadata be be a child"
Originally raised by as https://github.com/lread/rewrite-cljc-playground/issues/2

From discussions with @sogaiu and @borkdude on #slack

When traversing parsed data, the fact that metadata holds the object it is describing can be awkward.

Example from @sogaiu
[code]

Could we allow for metadata to be the child of node instead of the parent node while preserving API compatibility?

[2021-01-23 20:33] lread commented on #115
Issue comments from rewrite-cljc-playground:

### **@borkdude:**
@lread In clj-kondo I've opted to include metadata nodes (there can be multiple!) as a `:meta` key-value on the node itself.

### **@lread:**
As of this writing (3-Apr-2020), folks on Slack are discussing that default rewrite-clj handling of metadata can be awkward.

@borkdude chimed in:

And @sogaiu added:

And also offered [an exam

[2021-01-23 21:02] slipset commented on #108
What I've started for some of the other clan-commons projects

- Releasing with commit number, so version becomes major.minor.(count commits)
- Release builds are built and signed on circle ci and deployed to clojars whenever a tag on the form #"Release-.*" is pushed to GitHub

This gives a fairly painless release process which also lets me release from any machine, and lets me build releases with

[2021-01-23 21:09] lread commented on #79
Did I fix this in rewrite-clj v1? I'll check.

[2021-01-23 21:42] lread commented on #38
It has been 1,897 since this was first raised, but hey, let's review!

From my understanding this was an experiment that did not work out.
I notice there are also no tests for `rewrite-clj.node.indent`.
A search [for the full namespace in grep.app only returns rewrite-clj and rewrite-cljs](https://grep.app/search?q=rewrite-clj.node.indent), but folks could be including it with prefix lists.
My cur

[2021-01-23 21:42] #38 closed

[2021-01-23 21:45] lread opened #116 "What to do with rewrite-clj.node.indent?"
Extracted from #38

@eraserhd wrote:

@lread responded:

I notice there are also no tests for `rewrite-clj.node.indent`.
A search [for the full namespace in grep.app only returns rewrite-clj and rewrite-cljs](https://grep.app/search?q=rewrite-clj.node.indent), but folks could be including it with prefix lists.
My current guess is that this can be deleted, but I'd like to more certain none are rely

[2021-01-23 23:00] lread opened #117 "Review how options are conveyed"
Rewrite-clj v1 has options for `sexpr` functions, currently an `:auto-resolve` function to support namespaced elements.

My current strategy is to pass these options in as arguments in node API functions.
For the zip API, options are passed in on zipper creation, held by the zipper, and applied as appropriate.

I like this approach, but want to review for potential issues.

Off the top off my head

[2021-01-23 23:34] sogaiu commented on #87
@ericdallo Sorry, I think I didn't quite understand the original post.

The discussions from before are specifically about handling the case where delimitiers are missing.  The related code doesn't handle any other cases.

Very sorry to have taken other folks' time on this :(

[2021-01-23 23:49] lread opened #118 "Write a Reveal Extension to Visualize"
Just an idea: A extension for [Reveal](https://github.com/vlaaad/reveal) to visualize a zipper as source code with current location highlighted would, I think, be pretty helpful.

[2021-01-24 17:52] lread opened #119 "Review map-qualifier node"
As part of namespaced element support I added a map-qualifier node.

For example, in `#::my-alias {:a 1 :b 2}`
`#::my-alias` will be represented by a map-qualifier node.

A map qualifier node is not sexpr-able, or in rewrite-clj terminology, will return true for `printable-only?`.

The other non-sexpr-able nodes are:
- comma
- newline
- whitespace
- uneval

This issue is a reminder for me to revie

[2021-01-24 18:06] kkinnear commented on #113
Great issue!  Two things:

1. This is really necessary, I have run into this problem quite a bit, so thanks for recognizing it.
2. This is my current solution, and I haven't taken the time to verify if it is still necessary, but it does indicate something to check when you get to this:
[code]

[2021-01-24 18:31] kkinnear opened #120 "Looking forward to trying out the alpha release (or something earlier) in zprint!"
I just want to say that I'm delighted to see that you are working to bring the `rewrite-clic` progress you have made to `rewrite-clj`!  Thank you for your tenacity to keep working on this, it is clear that a lot of people are depending on `rewrite-clj`!

I am looking forward to the opportunity to integrate a `.cljc` compatible `rewrite-clj` into zprint when you get to the point you think it worth

[2021-01-24 18:38] lread commented on #120
Thanks @kkinnear, exciting times for sure!

I am getting closer to parity with rewrite-cljc in the rewrite-clj `v1` branch.
Can't give you an ETA to trial-ready, but I inch forward, and will report back.

Zprint is going to be an awesome validation for rewrite-clj v1, and I very much look forward to giving it a spin.

[2021-01-24 18:44] lread commented on #113
Thanks @kkinnear, much appreciated.

Your check for an `fn` node is interesting and has me curious.
Will definitely check it out when I get to this issue.

[2021-01-25 15:58] ericdallo commented on #87
@borkdude edamame seems to not work since it works for missing closing delimiters, I tested with something like `(def a) foo/ (def b)` and I could not get any info that could help fix that :/

@snoe, the issue with using indexing-push-back-reader manually is that we don't have a simple token, we have the whole document with the line and pos so we would need to "walk" through the safe-parsed text a

[2021-01-25 16:47] borkdude commented on #87
@ericdallo You can continue parsing the stream after an exception. So you would just skip over `foo/`.

[2021-01-25 17:10] ericdallo commented on #87
I managed to make a not proud workaround:
[code]

But I just realized that it's not enough to handle completion, since we depend on clj-kondo analysis and when the code is not parseable, clj-kondo return no analysis for that file 😔
@borkdude Is there any way to lint a code and ignore non parseable tokens?

Anyway, I think it worths to leave this issue open to a better fix on rewrite-clj side @soga

[2021-01-25 17:14] borkdude commented on #87
@ericdallo Feel free to post a minimal repro on the clj-kondo issue tracker and I will see what can be done.

[2021-01-25 17:57] ericdallo commented on #87
Done @borkdude https://github.com/clj-kondo/clj-kondo/issues/1146
Also, I created an issue on clojure-lsp side to track the whole fix: https://github.com/clojure-lsp/clojure-lsp/issues/270

[2021-01-26 15:53] lread opened #121 "Preserve newline at end of file"
From https://github.com/borkdude/carve/issues/46

Rewite-clj preserving an existing newline at end of file seems reasonable to me.
If there are multiple newlines at end of file, rewrite-clj would only preserve one.

[2021-01-26 23:21] lread commented on #79
@doby162 it has been a while since you reported this issue, thanks for raising it.

I'll try to guess what you were seeing, I'm testing against the main branch of rewrite-clj.

Let's start with something that works:
[code]
And now we'll introduce some uneval:
[code]
That works too.

But... if we introduce uneval that would create an uneven number of forms in our map, we'll trigger an exception:
[c

[2021-01-26 23:38] lread commented on #67
I can confirm that the behaviour is the same for rewrite-clj v1 (currently a work in progress).

Related note: rewrite-clj does not do anything sophisticated with reader conditionals:

[code]

I have an issue to explore/understand this strategy #103.

@plexus (or anyone else) do you have any opinions on what you'd like to see happen here?

[2021-01-26 23:52] lread commented on #32
Oh how long it has been since this was raised!

If you are still interested @expez & @eraserhd, rewrite-clj v1 will inherit rewrite-cljs's [find-last-by-pos](https://github.com/clj-commons/rewrite-clj/blob/575039f07e8b5f35993415b20674a482c39fe766/src/rewrite_clj/zip/findz.cljc#L46) which sounds kinda sorta like what you were asking for.

Note that there is an open question on find-last-by-pos #94.

[2021-01-26 23:59] lread commented on #28
We'll have find-tag-by-pos in rewrite-clj v1 (which we inherit from rewrite-cljs thanks to @rundis).
We now also have the custom zipper to track position on update (thanks, I think, to @eraserhd).

So, I'm going to close this issue.  If folks would like more positional searching in 2021, they can open a new issue.

[2021-01-26 23:59] #28 closed

[2021-01-27 00:13] lread commented on #69
FYI, just tried this out on rewrite-clj v1 (currently WIP) and can reproduce StackOverflow you described @snoe.

If I run a Clojure REPL via:
[code]
then, like @vemv, I overcame the StackOverflow.

I'll keep this one open for at least a bit as it relates to #109.
If there's nothing reasonable we can do to overcome, I'll simply document @vemv's advice.

[2021-01-29 18:17] lread commented on #93
After a bit of digging:
1. I learned that [clojure/tools.reader](https://github.com/clojure/tools.reader), which rewrite-clj uses to read source, normalizes OS specific newline variants to a single `\n`.  So, this what rewrite-clj will continue to do as well.
1. The specific issue of failing on comments ending with `\r\n` is triggered by a bug in Clojure tools reader. I raised an issue [TRDR-65](h

[2021-01-31 17:25] lread opened #122 "Apply @vemv feedback on test cleanup"
Valuable [feedback from @vemv on Slack](https://clojurians.zulipchat.com/#narrow/stream/180378-slack-archive/topic/rewrite-clj/near/220594170):

1. Regarding the use of `clojure.test/are`, when there's a `do` or `let` in are's "expr" argument, it's nice to place a `true` at tail position.

    That way, if the test fails, it only does once, instead of twice (inner `is` clauses + implicit surroundi

[2021-01-31 22:50] lread commented on #116
Changed my mind. Going to delete it.  If I'm wrong, I'll hear about it and restore.

[2021-02-01 18:57] lread commented on #94
Hi @sogaiu, it has been a very long time since you asked this question, as we inch toward rewrite-clj v1, I have finally committed myself to looking into it!

**Initial location on new zipper**
I don't think this was tripping you up (but maybe it was?), but for others reading I'd like to note that a new zipper automatically navigates to the first non-whitespace/non-comment.

[code]

The zipper has

[2021-02-01 19:49] lread commented on #102
Rrright... these get parsed as reader macro nodes.

[code]

So they are supported, can be read and written.

How they get handled by sexpr is covered by #103

[2021-02-01 19:49] #102 closed

[2021-02-01 19:54] lread commented on #104
I think a summary in the Change Log doc makes sense.

[2021-02-02 07:56] sogaiu commented on #94
Thanks for taking a look and the write up regarding the use case.

Regarding:

I did get tripped up by that early on, but may be it's now documented?

Regarding the use case question, it's been a while so I'm not sure I remember (or can recreate what I was thinking) well enough.

It's not currently an issue for me though, so if no one else is saying anything... :)

[2021-02-02 17:00] lread commented on #94
Thanks @sogaiu, closing!

(yup, zipper auto-navigation is documented now, but might stress it even more).

[2021-02-02 17:00] #94 closed

[2021-02-02 17:01] lread commented on #32
No responses received, assuming we are good, can re-open it we are not.

[2021-02-02 17:01] #32 closed

[2021-02-02 17:02] lread commented on #79
No response received, assuming we are good, if not can re-open in the future.

[2021-02-02 17:02] #79 closed

[2021-02-02 17:04] lread commented on #67
No responses received, assuming we are good, can open a new issue in the future to perhaps do more when sexpr-ing reader conditionals.

[2021-02-02 17:04] #67 closed

[2021-02-02 20:36] lread opened #123 "post walk order seems incorrect"
While looking at #69, I decided to add some tests to make sure any changes I made did not affect walk order.

To refresh my brain on pre-walk and post-walk traversal, I read:
- [Tree traversals](https://www.geeksforgeeks.org/tree-traversals-inorder-preorder-and-postorder/)
- [clojure's postwalk-demo](https://clojuredocs.org/clojure.walk/postwalk-demo)
- [clojure's prewalk-demo](https://clojuredocs

[2021-02-03 23:35] lread commented on #108
Thanks @borkdude, I am now doing the same.

[2021-02-03 23:39] lread commented on #108
Thanks @slipset

I was think commit count since last major.minor, but that's a minor detail (kind of a pun there).

I like this approach. I am wondering though, about jar signing, is there a real benefit?  Do folks do this?
Happy to put the work in if it makes sense.

I shall take a peek!

[2021-02-04 11:51] slipset commented on #108
I don't think there is a great benefit to signing jars, but the cost is none, once it's set up, so I see no reason for not doing it when I get it for free.

[2021-02-05 17:56] lread opened #124 "Consider canary testing for popular projects"
Consider some sort of automated canary testing for a set of projects that make use of rewrite-clj.

Examples that come to mind: cljfmt, zprint, carve, rewrite-edn, clojure-lsp, antq.

The idea would be to run the target project's test suit (or a reasonable portion thereof if the suite is very long running) against rewrite-clj master.

[2021-02-07 23:32] lread commented on #119
Thinking in progress... edits to come.

Let's explore two attributes of the MapQualifierNode:
- `printable-only?`
- `tag`

Currently this node returns `true` for `printable-only?` and `:token` for `tag`.

**printable-only?**
What does this attribute mean in rewrite-clj? It is docstring-ed in v0 as "Return true if the node cannot be converted to an s-expression". It returns `true` for the following

[2021-02-07 23:54] lread commented on #117
Research in progress.. edits to come...

**Additional alternative**
Explicitly pass in options  for each zip API fn that makes use of them.
I experimented with this in rewrite-cljc but found it awkward and error prone in usability.
Also, at least one zip fn is variadic and not convertable to multi-arity, making an optional arg, in my mind, awkward.

**External usage**
After making changes to a zip

[2021-02-09 18:25] lread opened #125 "Sometimes we don't want to auto-navigate on zipper create"
**Scenario**
By default a new zipper will auto-navigate to the first non comment/whitespace node.

This is normally what we want.

But this is not always what we want.  For example we don't want this when walking a zipper, we want to hit all nodes so want to start from the root node.

**First Idea**
Zipper creation functions already have an options map.
Consider adding an option to not auto-naviga

[2021-02-11 00:15] lread opened #126 "Strings are coercing to token nodes instead of string nodes"
While reviewing TODOs I noticed that strings were being coerced to `TokenNode`s.

We have a `StringNode`, so we could be coercing strings to `StringNode`s.
Note that a string node can be distinguished as `:multi-line` and we'll honor this while coercing.

[2021-02-11 16:34] lread commented on #98
After yet another bit of confusion caused by tooling not understanding `import-vars` nuances, I've come to the conclusion that, for me, the mysteries that `import-vars` introduces is not worth its convenience.

Had some good chats on Slack lsp channel.

My goal for rewrite-clj v1 is to import vars and docstrings and keep them in sync.
I have a custom case where where I change var name and modify d

[2021-02-11 16:58] lread opened #127 "Why does regex node not override Object toString?"
Transcribed from TODO in code.

All node records except regex override `toString` like so:

[code]

But regex node does not.
Any good reason?

[2021-02-11 17:06] lread commented on #127
So why do other nodes do this?

Let's look:
[code]

Vs a regex:
[code]

Ok, needs fixing.

[2021-02-11 19:34] lread opened #128 "Regex coerces to TokenNode"
`#"regexa"` is coerced into a `TokenNode` but we do have a `RegexNode` which is used during parsing.
Shouldn't we coerce a regex to a `RegexNode`?

[2021-02-11 19:38] lread opened #129 "Regex node construction does not match its sexpr"
The `regex-node` constructor fn accepts a `string-pattern`.
It is called when parsing `#regexa` where `regexa` becomes the `string-pattern`.

The `sexpr` returns `(list 're-pattern string-pattern)`.

Forgetting that we are returning something that is expected to be evaluated by the caller for a moment, isn't this technically incorrect for patterns that contain escape characters?

`(re-pattern "\\s

[2021-02-11 21:50] sogaiu commented on #98
I felt similarly to you about potemkin (at least for where I encountered it) and hope you are successful in your efforts.

[2021-02-18 19:43] lread opened #130 "Regex node rewrite-clj.node/length incorrect"
[code]

I would have expected `10`.

Remember to test regex escape sequences if/when fixing.

[2021-02-19 18:03] lread commented on #129
I have decided to have `sexpr` return a regex rather than `(list 're-pattern string-pattern)`.

[2021-02-19 19:07] lread commented on #124
Babashka tests that libraries continue to run under it, see [tests for libraries](https://github.com/babashka/babashka/blob/77daea7362d8e2562c89c315b1fbcefde6fa56a5/doc/dev.md#tests-for-libraries).
We might take inspiration from its techniques.

[2021-02-19 19:20] ericdallo commented on #87
@sogaiu is there any way to fix that on rewrite-clj? [This workaround](https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/parser.clj#L67-L85) is not totally reliable :/

[2021-02-20 21:52] sogaiu commented on #87
@ericdallo Sorry, I haven't yet thought of anything.

May be it's worth consulting @lread about this?

[2021-02-20 21:55] borkdude commented on #87
What I did in clj-kondo: I made a tweak to the parser where it parses a token. In case of an exception, it logs this exception to an atom in a dynamic var (this was done so I didn't have to change a lot of code) and just continues parsing as if the token wasn't there at all.

[2021-02-20 22:01] ericdallo commented on #87
Yeah, that's similar to the workaround I did, but in this case we need the token to completion and etc. Since is possible to have a `node` of unparseable code (like I did in my workaround), IMO I think that rewrite-clj should handle that somehow and allow parsing that.

[2021-02-20 22:12] lread commented on #87
Heya @ericdallo! I am trying to stayed focused on rewrite-clj v1 priorities at this time.

I am getting an idea for what you'd like, but details always help.  Add anything you can think of.

I'll lurk/follow this discussion for now.

[2021-02-20 22:17] ericdallo commented on #87
Thanks @lread, I'm quite excited about that v1 :)

 I think the issue description and [my workaround](https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/parser.clj#L67-L85) are detailed, LMK if you need any extra info.

[2021-02-20 23:02] lread opened #131 "Review map-node vs namespaced-map-node"
Moved from TODO note in docs in user guide.

Our map-node and namespaced-map-node model the structure of the source code.
This is convenient when navigating through nodes as one would through source.

But... when we want to logically treat any map as a map the difference is a bit awkward.

I was thinking a protocol for map nodes, but this would only be useful for the non-zipper (direct node) user:

[2021-02-21 19:36] lread opened #132 "Review API diff reports"
One of my primary goals for merging rewrite-clj v0 and rewrite-cljs into rewrite-clj v1 was to be deliberate about any API breakages.  The idea was to keep breakages of public APIs at a very minimum so that users of rewrite-clj v0 and rewrite-cljs could carry merrily along with rewrite-clj v1.

To bolster confidence in the above, I generate various API diffs via from an admittedly [hacky diff-apis

[2021-02-25 00:38] lread opened #133 "Review parse-file fns for possible cleanup"
The `parse-file` and `parse-file-all` fns in `rewrite-clj.parser` are a bit odd in how they deal with closing.

Here's `parse-file`:

[code]

I suspect this is because clojure.tools.reader did not mark its readers as Closeable, but this [was addressed 5 years ago](https://github.com/clojure/tools.reader/commit/bc8249eb4654eaddaaf9600876c2e77be2f4ba16).

So we'll likely be good with a simpler:
[cod

[2021-03-01 17:20] lread opened #135 "Coercion support not available unless node ns loaded"
I think this is due to my recent change of invoking only internal nses from internal nses.

In short, requiring rewrite-clj.zip should also load rewrite-clj.node.coercer.

[2021-03-02 19:26] lread commented on #119
In initial canary testing against zprint and cljfmt, I found their formatting tests for namespaced maps are failing.

Contributing differences:
- the first child of a namespaced map for rewrite-clj v0 `#:clj {:a 1}` is `:clj` but for v1, it is `#:clj`.
  - I think v0 got it right, the # should be considered as belonging to to the namespaced map rather than the qualifier.
  - Adjusting v1 to match

[2021-03-02 20:55] lread commented on #120
Hi @kkinnear! I am setting up some automatic testing for the latest releases of popular libs against rewrite-clj v1 (still not merged to main yet, but getting closer).
This, of course, includes zprint!

I am happy to report that this testing has helped me to uncover an unintentional incompatibility I introduced with namespaced maps. This will be fixed soon. [Details are not terribly interesting](h

[2021-03-02 23:18] kkinnear commented on #120
Thanks for asking!  First, let me say that the documentation that you pointed me at is really first rate!  I'm terribly impressed, that is great stuff.  I wish I had it when I started.  I ended up creating a hack that lets me type in simple commands and step around in a rewrite-cli zipper and look at the pieces and to run functions like `tag` and `sexpr` and suchlike on what I'm sitting on so I co

[2021-03-03 16:53] lread commented on #120
So nice to see your reply @kkinnear!

Thank you for your kind words on the docs. I remember coming to rewrite-clj without even, believe it or not, a clear understanding of what a "form" was.  Hopefully the updated docs fill in some of the blanks. I'll continue to try to improve them moving forward. I'm sure they contain many typos, so don't be shy when you see something amiss.

If we make no furth

[2021-03-03 17:07] lread opened #136 "v1 namespaced map breakdown incompatible with v0"
In initial canary testing against zprint and cljfmt, I found their formatting tests for namespaced maps are failing.

The first child of a namespaced map for rewrite-clj v0 `#:clj {:a 1}` is `:clj` but for v1, it is `#:clj`.
  - I think v0 got it right, the # should be considered as belonging to to the namespaced map rather than the qualifier.
  - Adjusting v1 to match v0 gives me passing cljfmt t

[2021-03-03 17:56] kkinnear commented on #120
I've been thinking about (and looking at the code that is affected by) what you said:

I think that the rewrite-clj v1 approach sounds fine.  It makes sense, and people that are using rewrite-clj don't have to remember that they are in a namespaced map, which would be a win for most of the uses of rewrite-clj and not a loss for zprint.  Sounds like a worthwhile enhancement.

While perusing `zutils

[2021-03-03 18:11] lread commented on #120
Thanks for taking the time @kkinnear, much appreciated!

And thanks for the notes on rewrite-cljs, I'll work them, in some form, into the change log.

Oh actually... if I might impose, having you review the[ v1 portion of the change log](https://github.com/clj-commons/rewrite-clj/blob/v1/CHANGELOG.adoc#rewrite-clj-v1) would be great. Would love to hear if there are any showstoppers in there for yo

[2021-03-03 23:05] kkinnear commented on #120
I looked over the change log, from above.  I don't see anything that causes me any concerns, but I don't keep all of the ways that zprint depends on rewrite-clj in my head.  A couple of things did occur to me:
1. It would be really nice to have a solid way to tell if sexpr is going to work.  I think we had a conversation about this, where I think you (or someone) said that `(not (n/printable-only?

[2021-03-03 23:41] lread commented on #120
Thanks for your continued interest and feedback! Love it!

For your item 1, yup you remembered right, we have that recorded under #113.

For item 2, `node?` only returns `true` for rewrite-clj created nodes. It is not a way to check if something is a zipper.
Please feel free to create an issue for this one.

[2021-03-04 22:30] lread commented on #113
## fn nodes
@kkinnear I've taken a look at `:fn` nodes.

Let's start with rewrite-clj v1:

[code]
So an `:fn` node is `sexpr`-able, but maybe not in a way that is useful to zprint?

Or maybe... ah... I think this did not work in rewrite-cljs, maybe that was it?
I dunno... if I run under current rewrite-cljs I get:

[code]
The gen-sym stuff wasn't fully matching rewrite-clj, but it seems to have ma

[2021-03-04 23:18] lread commented on #131
To remain compatible with rewrite-clj v0, we'll need to keep node layout the same.
Anything that we might invent to help treat all maps as maps can be added later.
So I can move this issue to a lower priority for now.

[2021-03-05 17:16] lread commented on #113
Yesterday Lee wrote:

Today Lee responds:

Perhaps you are thinking too much about what the REPL returns.  Yes the following is true:

[code]

But if we think of `::` in the context of a namespaced map, an `sexpr` could return the symbol for the current ns.
In the case of `::my-alias`, the symbol namespace aliased by `my-alias`.
And in the case of `:prefix`, the symbol `prefix`.

The above would b

[2021-03-05 18:19] lread commented on #119
With regards to the printable-only? question, we figured it out in https://github.com/clj-commons/rewrite-clj/issues/113#issuecomment-791559552

[2021-03-05 18:29] lread commented on #120
@kkinnear, I am pleased to let you know that I zprint 1.1.1 is included in automated lib testing against rewrite-clj v1.

Here's the output related to the hack I did to get lift-ns tests passing:
[code]

[2021-03-07 18:35] lread commented on #93
I've decided to take a stab at a work-around instead of waiting on TRDR-65.

[2021-03-07 23:09] kkinnear commented on #120
Wow, that's impressive!  That's a lot of code and an as yet unreleased testing environment.  I'm impressed that you got all of that into your tests.  And delighted, as it means that as you move forward zprint is likely to continue to work!  Thank you so much!!

[2021-03-07 23:34] lread commented on #120
I had missed zprint's ClojureScript tests, a commit is forthcoming soon!

[2021-03-08 00:07] kkinnear commented on #113
So, I'm a bit confused by this:

Near as I can tell, in rewrite-clj v0, I can sexpr all of the parts of #:my-prefix{:a 1 b 2}.  I can do it on the whole thing, or on just the :my-prefix part and then on the {:a 1 :b 2} part.  Nothing is out of bounds here for sexpr.  But in rewrite-clj v1 you expect this to change?

Of course, I can't try :: in rewrite-clj v0 because it won't work.

But I'm in the

[2021-03-08 00:38] lread commented on #113
Thanks for digging in @kkinnear!

I never rarely blame anyone for being confused about my ramblings. I think you might have missed my conversation with myself, I was thinking a namespaced map prefix on its own, in isolation, could not be sexpr-able, but then responded the next day with the conclusion that it can be, should be (and now is).  [I summarized this in another issue](https://github.com/c

[2021-03-08 00:43] lread commented on #113
BTW @kkinnear, it might be a bit temporarily confusing as to which issues have been addressed while I work in the v1 branch. GitHub only closes issues when merged to the main branch and I am still toiling away in the v1 branch.

If you look at the [project page](https://github.com/clj-commons/rewrite-clj/projects/1), you'll noticed I have (a temporary) "Fixed in v1 branch" column.

[2021-03-08 00:48] lread commented on #120
@kkinnear, an ephemeral link as GitHub Actions logs eventually go poof, but here's [zprint's Clojure and ClojureScript tests run against rewrite-clj v1](https://github.com/clj-commons/rewrite-clj/runs/2052605600?check_suite_focus=true#step:9:2822).

[2021-03-08 00:55] lread opened #137 "Document namespaced element v1 differences"
I do have [a table in my design docs that summarized my understanding of namespaced element support in rewrite-clj v0 and rewrite-cljs](https://github.com/clj-commons/rewrite-clj/blob/v1/doc/design/namespaced-elements.adoc#sexpr-support-for-namespaced-elements-in-rewrite-clj-v0-and-rewrite-cljs).

I think it would be helpful for folks if I created a new version of this this table for the change lo

[2021-03-08 22:28] kkinnear commented on #120
That is super cool!  Thanks for the link.  I’m very impressed!!

[2021-03-10 20:47] #75 closed

[2021-03-10 20:47] #89 closed

[2021-03-10 20:47] #90 closed

[2021-03-10 20:47] #91 closed

[2021-03-10 20:47] #92 closed

[2021-03-10 20:47] #104 closed

[2021-03-10 20:47] #116 closed

[2021-03-10 20:47] #121 closed

[2021-03-10 20:47] #123 closed

[2021-03-10 20:47] #69 closed

[2021-03-10 20:47] #103 closed

[2021-03-10 20:47] #108 closed

[2021-03-10 20:47] #109 closed

[2021-03-10 20:47] #117 closed

[2021-03-10 20:47] #126 closed

[2021-03-10 20:47] #127 closed

[2021-03-10 20:47] #130 closed

[2021-03-10 20:47] #98 closed

[2021-03-10 20:47] #128 closed

[2021-03-10 20:47] #135 closed

[2021-03-10 20:47] #113 closed

[2021-03-10 20:47] #119 closed

[2021-03-10 20:47] #124 closed

[2021-03-10 20:47] #136 closed

[2021-03-10 20:47] #93 closed

[2021-03-10 20:47] #137 closed

[2021-03-10 21:42] #110 closed

[2021-03-10 21:42] lread commented on #105
Addressed for v1 branch, now merged to main. Closing.

[2021-03-10 21:42] #105 closed

[2021-03-10 21:43] lread commented on #100
Addressed in v1 branch, now merged to main via test-doc-blocks. Closing.

[2021-03-10 21:43] #100 closed

[2021-03-10 21:43] lread commented on #99
I'm not in love with the new logo, but it is good enough for now.  Closing.

[2021-03-10 21:43] #99 closed

[2021-03-10 21:44] lread commented on #68
Addressed in v1 branch which is now merged to main. Closing.

[2021-03-10 21:44] #68 closed

[2021-03-10 21:44] lread commented on #76
Closing.

[2021-03-10 21:45] lread commented on #54
Addressed in v1 branch which is now merged to main. Closing.

[2021-03-10 21:45] #54 closed

[2021-03-10 21:55] borkdude commented on #76
Thanks! (re-opened by accident, sorry)

[2021-03-10 21:55] #76 closed

[2021-03-10 22:00] lread commented on #76
No prob at all!

[2021-03-10 23:02] lread opened #138 "Docs are failing to import to cljdoc"

[2021-03-10 23:16] #138 closed

[2021-03-11 16:39] snoe commented on #75
yay! congrats on the release @lread

[2021-03-13 02:50] vemv opened #139 "CHANGELOG: Typo in `ns-alias qualified map`"
`ns-alias qualified map ::alias{:c 3}` in
https://github.com/clj-commons/rewrite-clj/blob/db337b393ac527abe4015854d706ece2a9daeed2/CHANGELOG.adoc needs a `#` to correctly denote an alias-qualifed map

[2021-03-13 18:54] #97 closed

[2021-03-14 13:56] #139 closed

[2021-03-14 16:17] #111 closed

[2021-03-15 12:22] borkdude commented on #70
What if one wanted to rewrite the uneval nodes?

[2021-03-15 12:24] plexus commented on #70
What if one wanted to rewrite comments?

[2021-03-15 12:26] borkdude commented on #70
The difference from a Clojure perspective between `;;` and `#_` is that `#_` actually goes through the reader. Anything invalid in `#_` will cause the reader to throw. E.g. `#_{:a}`. So technically it doesn't belong in the "whitespace" category of things that are plainly ignored by the reader.

[2021-03-15 12:35] plexus commented on #70
Sure, but from a code semantics perspective it's as if these nodes don't exist. These rewrite-clj zipper operations are higher level operations over the lower level plain clojure zipper, that allow you to work with code at a more semantic level. If you care about more than that then go a level lower and use plain zipper operations.

If the zipper doesn't jump over uneval nodes then consumers need

[2021-03-15 12:39] borkdude commented on #70
@plexus I was merely stating an observation, not an opinion. Adding an option to exclude certain types of notes might be nice. Maybe this could be made more general than only `:uneval` type of nodes. Maybe a predicate of the node?

[2021-03-15 13:21] lread commented on #70
Now that rewrite-clj has risen from its long slumber, I am excited that we will be able to actually do something here.

The idea voiced by @sogaiu & @plexus of specifying something at zipper creation makes sense to me.

And @borkdude's idea of a predicate on the `node` sounds interesting to me.

We'll have to decide if the predicate describes what you'll see or what you'll skip.
Maybe what you'll

[2021-03-15 13:24] borkdude commented on #70
Thinking ahead, I think it might be best to add an option map, not just a predicate, to allow for more options.

`{:skip-node? (fn [node] ...)}` perhaps?

[2021-03-15 13:27] lread commented on #70
Yes, good point, zipper creation fns already have an option map, we'd add our predicate to it.

[2021-03-16 19:52] lread opened #140 "namespace map should allow all Clojure whitespace between prefix and map"
**Version**
1.0.579-alpha

**Platform**
Affects all platforms

**Symptom & Reproduction**
The following succeeds:
[code]

But when we try the following, it throws
[code]

**Expected behavior**
Rewrite-clj should recognize that all Clojure whitespace is valid between the prefix and map in a namespaced map.

**Diagnosis**
I discovered this issue while adding [cljstyle](https://github.com/greglook/cl

[2021-03-16 21:17] #140 closed

[2021-03-16 22:08] sogaiu commented on #140
For reference, this is what tree-sitter-clojure does too: https://github.com/sogaiu/tree-sitter-clojure/blob/master/grammar.js#L379-L382

Here `_gap` means whitespace, a comment (including a terminating newline), or discard / ignore.

Possibly of interest...I had thought that most places one might be able to put whitespace, the other two constructs (comment + newline and discard) would work, but I

[2021-03-16 22:11] lread commented on #140
Thanks @sogaiu! I'll make a TODO to verify rewrite-clj handling in the areas you mentioned.

[2021-03-20 11:24] mjayprateek opened #141 "Requiring paredit namespace throws syntax error"
**Version**
1.0.591-alpha

**Platform**
[Please specificy relevant platforms]
Operating System: [Mac Catalina 10.15.7]
Clojure version: [clj 1.10.1]
JDK vendor and version: [Java 1.8]

**Symptom**
Requiring paredit namespace in lein REPL throws syntax error

**Reproduction**
`user=> (require '[rewrite-clj.zip :as z] '[rewrite-clj.paredit :as zp])
Syntax error compiling at (rewrite_clj/paredit.cljc

[2021-03-20 11:30] lread commented on #141
Oh, interesting!  Thanks for reporting, I shall take a look.

[2021-03-20 11:43] lread commented on #141
@mjayprateek, I've failed to reproduce your issue with the following test:

From an empty directory:

[code]

I assume there must be something different about your scenario.
Can you share your `deps.edn` or `project.clj`?

[2021-03-20 11:45] mjayprateek commented on #141
I put the dependency in profiles.clj

[code]

[2021-03-20 11:48] borkdude commented on #141
Can you show the output of `lein deps :tree` ?

[2021-03-20 11:48] lread commented on #141
Yes, exactly.  I assume a different version of rewrite-clj is being brought in.

[2021-03-20 11:49] mjayprateek commented on #141
I'm using REPL from inside my home directory which does not have any project.clj. So, I receive this:

[code]

[2021-03-20 11:50] lread commented on #141
You'll need to run `lein deps :tree` from the directory that contains your `project.clj`.

[2021-03-20 11:53] mjayprateek commented on #141
hmm. I think there's some confusion.

1. My dependency is inside profiles.clj (shared above) which resides in `~/.lein`
2. I run `lein repl` inside `~` directory
3. `lein deps :tree` complains that there's no project.clj

Looking at profiles.clj, it seems like an older version of rewrite-clj (which is getting used by cljfmt) might be getting picked.

Just a hypothesis.

[2021-03-20 11:56] borkdude commented on #141
@mjayprateek You can confirm this hypothesis by executing `lein :deps tree` from within a project you create with `lein new foo`.

[2021-03-20 12:19] mjayprateek commented on #141
Oh. Sure.

[code]

[2021-03-20 12:22] mjayprateek commented on #141
It seems the error went away after using the exclusion as per the suggestion from lein.

Let me confirm this though.

[2021-03-20 12:23] lread commented on #141
If you retry your original example via `lein repl` from `./foo` without any exclusions, does the error still occur?

[2021-03-20 12:31] mjayprateek commented on #141
Yes. It does.

Now the dependency in my profiles.clj looks like this.

[code]

Thanks for pointing me in the right direction.

[2021-03-20 12:34] mjayprateek commented on #141
It seems like in projects with project.clj it works even without exclusions. But, for any other directory (with no project.clj) the exclusion has to be there.

[2021-03-20 12:40] lread commented on #141
That's good @mjayprateek, needing the `:exclusions [org.clojure/clojure]` had me confused, it makes sense to me that you don't need it for a project.

I can't tell you why you'd need it outside of a project in your `~/.project.clj`, it doesn't make a whole lot of sense to me.  I am suspecting we are dealing with a nuance in either leiningen or your `~/.project.clj` and not an issue with rewrite-cl

[2021-03-20 12:44] borkdude commented on #141
@lread Imho requiring clojure 1.10.3 for this project is too strict:

https://github.com/clj-commons/rewrite-clj/blob/cd8c5c7b6650b2a307c9111f2827ecebda217586/deps.edn#L3

You should at least support this library back to clojure 1.9.0 probably.

[2021-03-20 12:45] borkdude commented on #141
In deps.edn usually you don't specify the clojure version as a requirement, or at best, the minimum version.

[2021-03-20 12:45] lread commented on #141
@borkdude We do support and test against clojure 1.9.  Should `deps.edn` be different?

[2021-03-20 12:46] lread commented on #141
Ah good to know, I'll make a separate issue.

[2021-03-20 12:56] lread opened #142 "deps.edn should specify minimum Clojure version"
**Version**
1.0.591-alpha

**Platform**
Clojure

**Problem**
Respond to feedback from @borkdude:

I'm guessing this might be more of an issue for folks using leiningen, and could bring in a later Clojure version than they'd like?

I am currently specifying 1.10.3, but will switch to rewrite-clj's minimum Clojure version of 1.9.0.

[2021-03-20 13:23] lread commented on #141
@mjayprateek would you agree that we can close this issue?

[2021-03-20 14:11] #142 closed

[2021-03-20 15:33] lread commented on #141
Closing issue @mjayprateek, please re-open if your question has not been answered.

[2021-03-20 15:33] #141 closed

[2021-03-21 17:05] mjayprateek commented on #141
Thanks @lread and everyone. This was resolved.

[2021-03-22 15:29] sergeiudris opened #143 "given file text and position, how to parse the current top level form"
**Problem/Opportunity**
- problem is quite standard: a clojure/script editor extension needs to read/select the current top level form in a file when a shortcut is pressed; the knowns are the whole file text and current position
- parse-string reads the next form, but given document and position we can be inside the form and need to scan left and right, find the boundaries of the form
- right now

[2021-03-22 15:32] sergeiudris commented on #143
- and an important note:
  -  we cannot pre-parse the whole document, because there may be invalid forms (as discussed https://github.com/clj-commons/rewrite-clj/issues/87)
  - but for users it should still be possible to format select the current valid form, even if other code in the file cannot be parsed

[2021-03-22 17:26] lread commented on #143
Hi @sergeiudris, thanks so much for raising this issue. I think it is an interesting use case.

I tend to paraphrase to make sure I understand, so please bear with me. 🙂

Let's see if I get it:
- A typical scenario for editors is that they hold Clojure/Script source in, effectively, a string.
- Sometimes it makes sense to only parse a current Clojure form within the string.
- This current Clojure

[2021-03-22 19:52] sergeiudris commented on #143
yes, that sums it up

- performance does come in to play, definitely (a file like clojure.core comes to mind)
- for example, indentation formatting as we type: even if file string is valid edn, calling (of-string file-text) on every change to then find form at position, call cljfmt.core/refromat-form or any other zloc friendly logic (like rewrite-clj/paredit) would be inefficient

Right now extens

[2021-03-23 17:06] lread opened #144 "The use of the term "whitespace" can be confusing"
The zip API has fns:
- `whitespace?` - returns true if Clojure whitespace
-  `whitespace-or-comment?` - returns true if Clojure whitespace or comment

All good.  But... the zip API also has:
- `skip-whitespace` - which skips Clojure whitespace AND comments.
- `skip-whitespace-left` - ditto

While reading code that uses the above functions from the zip API, I get confused.

Perhaps we can clean thi

[2021-03-23 17:10] borkdude commented on #144
Maybe copying those functions to a new name while deprecating the old ones works.

[2021-03-23 18:43] lread commented on #144
Yeah, thanks, I think they will get deprecated, I'll wait and see what new fns #70 introduce here.

Interesting also that we have `(skip-whitespace f zloc)`. Having `zloc` as the first arg is more the norm in zip API, and more thread-first macro friendly.

[2021-03-25 14:41] lread commented on #143
@sergeiudris thanks for the good discussion.

I've noticed what seems to be a related issue here: https://github.com/weavejester/cljfmt/issues/212.

**On your shadow-dom idea:**
It feels like the zipper could almost act as the source of truth that the editor updates and renders.
I sincerely don't know how well that would play out, but interesting to think about.
And we'd need, of course, to suppor

[2021-04-01 18:50] lread opened #145 "Rewrite-clj does not recognize #! as a comment"
**Version**
1.0.594-alpha

**Platform**
All

**Source**
Raised by @ericdallo on Slack.

**Symptom**
Rewrite-clj throws when parsing `#!`.
While not documented, as far as I can see, the Clojure reader interprets [#!](https://github.com/clojure/tools.reader/blob/d721510c37eb4d28247dd90c07c3c9a7dc3820ed/src/main/clojure/clojure/tools/reader.clj#L808) the same way it does [the ; comment](https://githu

[2021-04-01 20:58] #145 closed

[2021-04-03 20:54] lread opened #146 "Export a clj-kondo config for users of rewrite-clj lib"
**Problem/Opportunity**
[Clj-kondo has an export config feature](https://github.com/clj-kondo/clj-kondo/blob/master/doc/config.md#exporting-and-importing-configuration).
We could take advantage of this to help folks easily include a config for clj-kondo's public APIs when using the rewrite-clj lib.
Thanks to @ericdallo for raising the idea on Slack.

**Proposed Solution**
Create and export a clj-k

[2021-04-03 21:02] lread opened #147 "Consider removing unused internal legacy code"
**Problem/Opportunity**
While hunting for what macros rewrite-clj exposes, I noticed a couple of unexposed/unused/undocumented/untested ones under the internal `rewrite-clj.node.whitespace` namespace:
- `with-newline-fn`
- `with-count-fn`

They have an associated a couple of associated dynamic vars:
- `*newline-fn*`
- `*count-fn*`

**Proposed Solution**
Delete them.

**Alternative Solutions**
Expo

[2021-04-06 19:20] lread commented on #114
I think I like the idea of a `tag+` (or maybe `node-type`) to avoid littering our already wide node and zip APIs with a bunch of new little functions.

[2021-04-16 16:54] lread opened #148 "zprint libs tests is failing on GitHub Actions"
**Version**
master

**Platform**
GitHub Actions workflow running on unbuntu-latest

**Symptom**
zprint's clojure test is failing with:
[code]

**Reproduction**
Ephemeral, but see: https://github.com/clj-commons/rewrite-clj/runs/2363968720?check_suite_focus=true#step:9:4515

**Expected behavior**
This has worked fine previously.
No known related changes from our side.

**Diagnosis**
This worked fin

[2021-04-16 16:55] lread commented on #148
@kkinnear FYI!

[2021-04-16 17:04] kkinnear commented on #148
I'll look at this later today.  I've changed nothing in the tests recently (at all).  This looks like there isa problem with loading a configuration from a URL, so I would guess that whatever the test is using for a server is fragile in this environment.

[2021-04-16 18:00] lread commented on #148
Thanks @kkinnear, I can't reproduce locally on macOS, so I figure it is likely a change in the GitHub Actions ubuntu image that is causing the failure.

[2021-04-16 18:30] lread commented on #148
Looks like the GitHub team is currently looking into issues  related to networking: https://github.com/actions/virtual-environments/issues/3185

[2021-04-16 20:56] kkinnear commented on #148
Yes, looking over issue actions/virtual-environments#3185 it seems like they are having trouble with localhost on ubuntu.  That would fit the error listed above, as this is the code that is having problems (this is just a code fragment):
[code]
It is failing on the last line above, the `(load options! nil url)`, where the `url` came from the last local in the `let`.  It is attempting to connect to

[2021-04-16 20:58] lread commented on #148
Thanks very much @kkinnear for taking the time to have a peek, I expect the GitHub team will resolve this soon.

[2021-04-17 20:56] lread commented on #148
I applied the work-around, and things are happy again. I'll leave this open as a reminder to turf the work-around after the GitHub Actions team has an official solution.

[2021-04-20 18:54] mjayprateek opened #149 "A function to move to top i.e. position [1,1] or a custom position in the zipper"
**Problem/Opportunity**
At times we need to automate changes which requires us to repeatedly (inside code) search for values and make changes. Now while doing that operation on config.edn (or for any other type), after first search, once the zipper location is inside a deeply nested map, there's a problem in searching for brothers of current-location's grandfather or great-grandfather.

This is to

[2021-04-20 19:13] mjayprateek commented on #149
For example in this config.edn file: https://github.com/gojek/ziggurat/blob/master/resources/config.test.edn,

I want to change bootstrap-servers for all the maps inside `:stream-routes`

so as a first step, I search for `:using-string-serde` (Please note that I've already collected a set of keys inside :stream-routes as a pre-step and I'm iterating over this set) and change the bootstrap server t

[2021-04-21 17:21] kkinnear opened #150 "`sexpr-able?` returns true when `sexpr` throws an exception on an incomplete map"
**Version**
[rewrite-clj "1.0.605-alpha"]

**Platform**
Operating System: MacOS, Big Sur, M1 ARM processor
Clojure version: [org.clojure/clojure "1.10.1"]
JDK vendor and version: OpenJDK Runtime Environment (Zulu 8.50.0.1017-CA-macos-aarch64) (build 1.8.0_275-b01)

ClojureScript
- version: [cljs version]
- tooling: [shadow-cljs|cljs|etc]
- host: [node|firefox|chrome|planck|etc]

**Symptom**
The fu

[2021-04-21 17:25] kkinnear opened #151 ""Not all Source is Sexpr-able" section doesn't really explain what happens to these things when part of a larger expression"
I think the section "Not all Source is Sexpr-able" is great!  The thing that is missing (in my view) is that if any of the things that are not `sexpr-able?` appear inside of some larger expression, and that larger expression is given to `sexpr`, it all works but the things that are not `sexpr-able?` are simply missing.  Maybe you said that somewhere else, but I looked around and didn't see it.  If

[2021-04-24 18:09] lread commented on #151
Thanks for the feedback @kkinnear, it is appreciated.

I'm sure you know `sexpr` will skip nodes it knows are not sexpr-able.

But I'm guessing you are driving at something else?

If not, I am happy to clarify the docs to make it super clear.

[2021-04-24 18:21] lread commented on #150
Interesting! Thanks very much for sharing. I missed that the fact that rewrite-cljs filled in the missing value with a `nil`.
I do know that folks have come to rely on the rewrite-clj v0 unbalanced map "feature".

I'm currently finishing up recovering from a wee injury but will be back to my Clojure-fun soon and give this some serious thought.

[2021-04-24 18:30] lread commented on #149
Sorry for being slow to reply @mjayprateek, I've been out with a small injury.

I haven't yet reviewed your issue carefully, but I think adding a `top` function to the zip API makes sense.  The notion is buried in #125.

I'll think about nuances and follow up when I am back to the keyboard in full capacity, which shouldn't be too long.

[2021-04-25 07:19] mjayprateek commented on #149
Sure. Take Care.

[2021-04-26 16:34] kkinnear commented on #151
Sorry I wasn't clear.  I was just saying that, yes

but that I didn't see that in the docs anywhere.  If it is in there, then I made a mistake in adding this issue.  Sorry about that!

[2021-04-26 16:43] kkinnear commented on #150
I hope that you are doing alright!  Or will be better soon!

I was thinking about this a bit more today (in the shower, where all my best thinking occurs), and wondering how an unbalanced map differs from a comment or uneval node.  In the other issue I logged about documenting what happens to non-sexprable nodes, you said:

So, why doesn't sexpr skip unbalanced maps?  Or perhaps skip the unbalance

[2021-04-26 17:47] borkdude commented on #150
Just for my information, is `sexpr-able?` a new predicate or has it been in rewrite-clj for a long time?
My guess would be that `sexpr-able?` just returns `true` or `false` based on the type of node, but doesn't do any checks like number of children or duplicate keys in maps and sets?

[2021-04-27 00:03] kkinnear commented on #150
I'm almost positive that it sexpr-able? is new.  Here it is, and yes, I believe that it indeed is based only on the type of node.  It doesn't look into what is inside the node.  Which isn't terrible, but if that's how it is going to be, it probably should be spelled out and the possible exceptions when `sexpr` is called on something that is `sexpr-able?` noted.
[code]

[2021-04-27 00:50] lread commented on #150
I do appreciate you raising this issue @kkinnear, you've taught me something I did not know and helped me to think about something I had not considered.

Yes @kkinnear & @borkdude, `sexpr-able?` was added in rewrite-clj v1 here eb202517d58816aea4b3cc337259a038dd766b8f.
It is really just an usable/discoverable/meaningfully-named complement for rewrite-clj v0's `printable-only?`.

The current `sexpr

[2021-04-27 01:17] kkinnear commented on #150
Nicely asked!  My specific use-case is where someone wants to use zprint on a map that was previously formatted by some printing function that limited the length, and replaced the rest of the map with `...`.  For example, they would like to have this work in zprint `{:a 1 :b 2 ...}`.  Given that it will parse, it seems not unreasonable for it work in zprint.  The tricky part is that I am working o

[2021-04-27 07:58] borkdude commented on #150
This is an easy check on the count of the children, though, right?

[2021-04-27 08:02] borkdude commented on #150
If `sexpr-able` only looks at the types of nodes and for other cases you still have to use `try / catch` then I don't really see the value since you'd have to through the `try / catch` route anyway. Perhaps `sexpr-able?` wasn't such a good idea and is just a confusion addition?

[2021-04-27 17:25] lread commented on #150
I dunno, folks were asking for something to check if a node is sexpr-able.

The only current point of confusion, I think, is unbalanced map nodes.
This is the only rewrite-clj node that I am aware of that explicitly supports invalid Clojure.

If I document `sexpr-able?` to more clearly I think that would be a good start.

[2021-04-27 17:28] borkdude commented on #150
A set with duplicate elements probably also isn't sexpr-able and a map with duplicate keys isn't either. Also, aliases might give trouble, but this is handled gracefully by filling in some defaults now, I think.

[2021-04-27 17:29] borkdude commented on #150
But what exactly was their reason for asking? A function which will predict wether it's always safe to call sexpr or something less powerful?

[2021-04-27 17:42] kkinnear commented on #150
A set with duplicate keys works fine:
[code]
Maps too:
[code]
I can't speak for others, but the reason I was asking for `sexpr-able?` or something similar was that I think that `(not (printable-only? xxx))` is pretty non-intuitive.  The fact that something that is flat-out incorrect (i.e., the unbalanced map) doesn't `sexpr` weakens but doesn't invalidate the utility of having the function at all.

[2021-04-28 17:31] lread commented on #150
Sounds good @kkinnear, I'll consider this a documentation update request.

Thanks again for raising this issue, the discussion was interesting indeed.
Although I maintain rewrite-clj, I've certainly not used it as much as you have.
Your feedback is invaluable.

Also thanks for your extra examples of invalid Clojure that rewrite-clj accepts, these will help the docs as well.

[2021-04-28 17:45] lread commented on #148
Work-around should no longer be necessary, will attempt a reverse.

[2021-04-28 17:58] #148 closed

[2021-05-04 20:07] #146 closed

[2021-05-07 00:17] lread opened #153 "Compiling rewrite-clj under cljs produces deprecation warnings"
**Version**
1.0.605-alpha

**Platform**
ClojureScript build

**Symptom**
When compiling with cljs, folks are getting deprecation warnings from rewrite-clj for internal functions.

**Reproduction**
I'll steal some output from [an issue @PEZ raised at cljfmt](https://github.com/weavejester/cljfmt/issues/224).

**Expected behavior**
When compiling a project that uses rewrite-clj under cljs, users sho

[2021-05-07 19:12] #153 closed

[2021-05-08 17:27] lread commented on #150
Thanks for the feedback @borkdude!

I agree, if we were starting fresh, I think we'd be skipping unevals by default, but it will likely be a zipper option, see #70.

[2021-05-08 20:12] borkdude commented on #70
I ran into this myself in this issue: https://github.com/babashka/babashka/issues/825
If we would support the above option, my solution would have become: `:skip-node? (complement zip/sexpr-able?)`

[2021-05-08 22:46] #150 closed

[2021-05-08 22:46] #151 closed

[2021-05-08 22:54] lread commented on #150
@kkinnear I have updated the docs on the main branch.

While documenting, I came to the realization that I probably would have chosen the rewrite-cljs option of automatically filling the missing key value with a nil - if I were starting fresh.  It seems to match the strategy (of not failing) taken with duplicate keys and values in maps and sets.  That said, I'm not starting fresh, so...

If this i

[2021-05-10 20:00] lread opened #155 "Zipper end state behaves differently for skip vs raw movement"
Not sure if this is a bug or a behavior to document, just recording some notes for now.

**Version**
Pre-existing in v0

**Platform**
All

**Behaviour**
Let's explore what happens with `next` (whitespace aware) vs `next*` (raw) in rewrite-clj.
These tests were carried out on v0.6.1 just to make sure this behaviour was not something v1 code introduced.

-- Variation 1 `next` on underlying `clojure.

[2021-05-12 18:15] kkinnear opened #156 "Deprecated Warnings when using planck"
**Version**
[rewrite-clj/rewrite-clj "1.0.605-alpha"]

**Platform**
Operating System: [macOS Big Sur]
Clojure version: [org.clojure/clojure "1.10.3"]
JDK vendor and version: [openjdk version "1.8.0_275"
OpenJDK Runtime Environment (Zulu 8.50.0.1017-CA-macos-aarch64) (build 1.8.0_275-b01)
OpenJDK 64-Bit Server VM (Zulu 8.50.0.1017-CA-macos-aarch64) (build 25.275-b01, mixed mode)]

ClojureScript
- v

[2021-05-12 18:45] lread commented on #156
Thanks for raising @kkinnear, this is fixed by #153 (on main branch, not yet released at the time of this writing).

Interesting side note: the JVM ClojureScript compiler [does support turning off deprecated warnings via `:fn-deprecated`](https://clojurescript.org/reference/compiler-options#warnings), but I don't think the bootstrap (self-hosted) compiler, which planck uses, supports this option y

[2021-05-12 19:09] #156 closed

[2021-05-12 19:15] lread commented on #155
Current perceived impact:

Zipper end state is confusing:
- for skip movement, end is last node and we stay on last node, zipper is still usable
- for raw movement, end is past last node, we state in this state, zipper is no longer usable

[2021-05-14 16:20] kkinnear commented on #156
Thanks for the info, I didn't think to look in the closed issues, or I just missed it altogether.  I did look at the open issues, because I learned that rewrite-clj uses `are` a lot in the tests from an old issue, and I needed some good examples of the use of `are` for some of my testing.  Anyway, thanks for dealing with this.

For what it is worth, `planck` lets me turn these warning off with `:f

[2021-05-14 17:34] lread commented on #156
No problemo!  Thanks for raising (I don't care at all that it ended up being a dupe, you are the 3rd person I know of affected by this issue, so there must be more!).

Also thanks for the planck tip on `:fn-deprecated` - for some reason I did not get this working for the rewrite-clj test suite, I'll take another stab at it sometime.

Also FWIW, some people really dislike `are`. I am not one of the

[2021-05-14 18:07] kkinnear commented on #156
In case this helps, here is what I'm doing with planck:
[code]
Cheers!

[2021-05-29 00:36] lread opened #157 "Test: Figwheel main watch test failing to start under ClojureScript v1.10.866"
**Version**
1.0.644-alpha

**Platform**
ClojureScript

**Symptom**
When I try to run test-cljs-watch, I get the following output:

[code]

Of particular interest:
[code]

**Diagnosis**
If I downgrade to ClojureScript v1.10.844, figwheel main works as expected.
All other ClojureScript tests are functioning as expected.

**Action**
I'll look into it.

[2021-06-26 21:47] #157 closed

[2021-07-01 19:14] lread opened #159 "Custom auto-resolve is not applied for :track-position? zippers"
**Version**
1.0.644-alpha

**Platform**
all

**Symptom**
When specifying a custom `:auto-resolve` fn on a zipper that also specifies `:track-position? true`, the custom auto-resolve function is not applied.

**Reproduction**
[code]

**Actual behavior**
The default auto-resolve behaviour is applied.
[code]

**Expected behavior**
The custom auto-resolve fn should be applied and return:
[code]

... a

[2021-07-03 21:18] #159 closed

[2021-07-24 15:11] borkdude opened #160 "Result from macro is coerced into token while it should be a list node"
Repro:

[code]

I'll make a PR to fix it.

[2021-08-02 19:23] lread commented on #149
Hi @mjayprateek I don't know if you are still feeling a pain here.

Have you had a look at [docs on sub editing](https://cljdoc.org/d/rewrite-clj/rewrite-clj/1.0.644-alpha/doc/user-guide#sub-editing)? I wonder if they might scratch your itch.  Sub editing allows you to restrict your changes to an isolated sub-tree.

Here's one way to update all `:boostrap-servers` values, but only under `:stream-r

[2021-08-19 15:15] borkdude opened #161 "clojure.lang.Cons isn't coerced correctly"
Examples:

[code]

This can be fixed by adding a proper protocol impl for the Cons type and coercing it into the right rewrite-clj record.

[2021-08-19 15:16] borkdude commented on #161
Will open a PR shortly.

[2021-08-19 17:25] lread commented on #161
Fixed by f395a23735cf92fae7f3f8802e98b36839066ae8

[2021-08-19 17:25] #161 closed

[2021-08-19 17:27] lread commented on #160
Fixed by f395a23735cf92fae7f3f8802e98b36839066ae8

[2021-08-19 17:28] #160 closed

[2021-09-18 04:44] vemv opened #163 "Test refactor-nrepl latest"
Hi!

It would be nice to exercise the new https://clojars.org/refactor-nrepl/versions/3.0.0-alpha10 in test_libs.clj. That would allow me to upgrade our rewrite.clj from 0.6 to latest fearlessly.

(in theory our test suite should suffice, but you might be doing something fancy, IDK)

Cheers - V

[2021-09-18 04:48] vemv commented on #163
(Note that that alpha is not from present as of git master - Clojars provifes a link to the relevant git tree)

[2021-09-18 04:58] vemv commented on #95
This one is biting me as I'm trying to cut a new refactor-nrepl release. See e.g. https://github.com/clojure-emacs/refactor-nrepl/issues/332

It'd be pretty bad to leave users with errors that can't quite be debugged.

`*assert*` (the dyn var) is OK-ish, `assert` (the macro) not so much because it doesn't tell us the value at fault.

It's fairly trivial to replace `(assert)` and `:pre` with a help

[2021-09-18 12:56] lread commented on #163
Aha! That's why I was having trouble finding it!  My lib testing currently looks at GitHub tag versions or GitHub release versions and uses those to find updates.  But... I also have support for checking by sha on master.

I did look at finding sources via clojars, if I remember correctly, I discovered that some libs got this pointer wrong and the GitHub tag/release was more reliable.

I guess you

[2021-09-18 13:29] lread commented on #95
Thanks for adding to the issue @vemv!

This is all a bit foggy so I shall recap and paraphrase:

* A while ago @borkdude helped me to understand that he disables assertions for production use for performance reasons.
Here's what he does for [clj-kondo for example](https://github.com/clj-kondo/clj-kondo/blob/cd86393d86bbe5e990e89c40e7f44d36cbd64b10/project.clj#L30).
* You are interested in leaving

[2021-09-18 13:58] vemv commented on #95
Hey there!

The nuance is that `*assert*` is a global var and software like refactor-nrepl (and even clj-kondo, depending on how you use it) shares the JVM with the end-user environment.

So it's easy to couple things. End users may tweak `*assert*` at will for unrelated reason. Other tools _also_ consuming rewrite-clj can have a different expectation/preference as to whether check asserts.

I thi

[2021-09-18 14:10] vemv commented on #163
yes the branch is https://github.com/clojure-emacs/refactor-nrepl/pull/330/files

Oh in that case I don't depend that much on my request (https://github.com/clj-commons/rewrite-clj/issues/163) being fulfilled. It still might be useful to you to have things updated.

Probably I'll release a few more alphas during the week so waiting a bit is also fine.

[2021-09-18 15:12] borkdude commented on #95
Note that moving checks from compile time to runtime isn't exactly better for performance, especially not when deref-ing dynamic vars, but perhaps in the grand scheme of things it doesn't matter that much.

Perhaps just moving the checks to a rewrite-clj.specs namespace that you can optionally load / instrument if you want spec checking for these functions is the way to go in this day and age.

[2021-09-18 15:20] vemv commented on #95
Adding spec to the mix seems to go against `I remain extremely conservative about bringing in any new dependencies into rewrite-clj`. With spec1/spec2 uncertainty, spec seems bit of delicate one especially as end users aren't fully in control.

Also spec tempts one to bring in Orchestra or such, most devs out there appreciate checking the return value etc. Which can further complicate things. tldr

[2021-09-18 15:22] vemv commented on #95
Using more precise wording, if `clojure.core/*assert*` is false at compile-time, you macroexpand to 'nothing'.

[2021-09-18 15:25] borkdude commented on #95
I don't really agree with this one: spec is an already available dependency and loading the specs can (and imo should) be made optional for users by providing them in a separate namespace. Instrumentation can be chosen at a fine-grained level (per function even).

[2021-09-18 15:34] vemv commented on #95
Well I'll leave this one to @lread however this thing you wrote [here](https://github.com/borkdude/respeced) sums up well a common sentiment:

i.e. instrumentation is bit of a frustrating experience, that can be tracked in various places (for example the Expound issue tracker comes to mind; integrating it with Orchestra is not trivial).

Used expertly, sure it should work. I'd simply be pessimisti

[2021-09-18 15:45] borkdude commented on #95
The `respeced` library aids in (unit) testing your fdefs. It was specifically written to verify if the fdefs written in [speculative](https://github.com/borkdude/speculative) were correct: will they throw on certain function calls, and will they allow other function calls? This is one level of testing higher than what we're talking about here.

I'm not necessarily a fan of everything spec does and

[2021-09-18 15:53] vemv commented on #95
I'm aware of the pattern however I'd be hesitant about instrumentation. Isn't it essentially a global side-effect? Whereas a `binding` would allow a per-consumer setting.

e.g. for the refactor-nrepl use case, we can bind e.g. `[rewrite-clj/*assert* true]` once at the middleware level (i.e. at the 'entry point' of execution, early and up) and rest assured that:

* all refactor-nrepl internal defns

[2021-09-18 16:00] borkdude commented on #95
For me personally these extra checks are only useful during development and even then, mostly in development of rewrite-clj itself. Why is it important to turn this on in production code of refactor-nrepl? What action can the user take when something turns out to be wrong in the way that refactor-nrepl is using rewrite-clj? Moreover, I think these checks exist mostly as a development aid of rewrit

[2021-09-18 16:00] vemv opened #164 "Clojure 1.8 compat"
Hey there again,

I'm trying to upgrade refactor-nrepl to rewrite-clj latest.

However I'm encountering this for clojure 1.8 in our CI matrix:

Does rewrite-clj support clojure 1.8?

[2021-09-18 16:04] vemv commented on #95
`:pre`s (or what have you) tremendously aide time-to-fix:

* I don't have to ask too much to end users about the stacktrace they got and _how_ they got it
  *  i.e. they got an informative one
* I get fail-fast behavior
  * i.e. I'm not inspecting rewrite-clj code deep in its stack, a :pre tells me exactly where things went wrong
* I can create https://github.com/clj-commons/rewrite-clj/issues tic

[2021-09-18 16:13] borkdude commented on #95
@vemv

- `*assert*` is enabled by default. People usually don't turn this off unless for performance reasons in prod.
- the stacktrace you referred to happened because `*assert*` was enabled.
- people usually use refactor-nrepl in development

Doesn't this all mean that everything already works quite the way it should for refactor-nrepl, as it is now? And if people did disable `*assert*` you could

[2021-09-18 16:16] borkdude commented on #164
I think this answers the question: https://github.com/clj-commons/rewrite-clj/commit/efdec0def65246847203d28722853ab029dc067e

[2021-09-18 16:19] vemv commented on #95
Things aren't working nicely right now because:

* :pre is used without any extra mechanism informing of the value at fault
* fixing that brings in the problem of how to provide good error reports optionally, without affecting other consumers.

This is misleading, I would have gotten a stacktrace either way. `:pre` simply fails-fast vs a predictably-failing situation (which would have made me wast

[2021-09-18 16:22] vemv commented on #164
What was the rationale / can it be revisited? It would be a bummer with all the other cautions the project's refactoring to not introducing breaking changes.

It's not rare for certain projects to declare an old Clojure version as the default, and newer versions under profiles (whether that's optimal, IDK.. I'm simply reflecting what one can find in the wild)

If it's a matter of `qualified-symbol

[2021-09-18 16:57] borkdude commented on #95
Yeah, I meant: the stack trace like you received it, with the assert failed message.

[2021-09-18 17:09] borkdude commented on #95
Btw, I can do some perf tests with clj-kondo to see if lint time drastically reduces if I re-enable assert. Perhaps it doesn't make a huge difference. Perhaps it was overkill to disable it. Note: I've only disabled it in the native image build, not globally for library users, that would be a mistake.

[2021-09-18 17:15] vemv commented on #95
tbh I don't feel comfortable either if making a 'client' happy will make others less happy i.e. I'm aware clj-kondo is editor-oriented so it makes sense for it to squeeze perf.

A POC would have to be 'non-breaking' in this regard

[2021-09-18 17:18] borkdude commented on #95
@vemv I guess you can also demand/insist that users enable `*assert*` when they post error reports. I would be surprised if you would get a report in a refactor-nrepl error report where this wasn't already the case though.

[2021-09-18 17:39] vemv commented on #95
Agreed. It's only part of the equation though

Summarizing my thinking, I'd propose a macro like this:

[code]

* `clojure.core/*assert*` keeps working so clj-kondo has to change nothing in its uberjar
* different, concurrent consumers can use their prefered setting (via `binding`) without stepping on each other or with the user's intent
  * this is helpful when using clj-kondo via a vanilla JVM,

[2021-09-18 17:49] lread commented on #164
Hiya @vemv! I decided that Clojure v1.9 is a reasonable minimum version for rewrite-clj v1.

The minimum Clojure version for rewrite-clj v0 was v1.5.1.

I can't exactly remember, my decision might have been influenced by kaocha, which I use for testing which also shares this minimum version.  And I expect I asked folks on Slack too.

I vaguely remember @liquidz asking about v1.8 support for antq?

[2021-09-18 18:00] lread commented on #163
So... To satisfy your alpha scenario I'd probably:

1. check for a new released artifact version (I currently only check GitHub right now)
2. dig into the jar -> `pom.xml` and decide to trust that `<scm>` info points to appropriate source.

I wonder if this is worth the effort. When do you plan on moving out of alpha?

[2021-09-18 18:02] vemv commented on #164
Hey there!

This is a good thing, it means we have 5+ years of backwards compat. It's something to be proud of, and increases the amount of projects in which CIDER will work OOTB.

It's important that CIDER and friends can be spawned in as many projects as possible with minimal tweaking.

In fact I noticed how a recent version of antq dropped 1.8 support, that made me lose some time in another pro

[2021-09-18 18:04] vemv commented on #163
Indeed. It looks like I can take care of upgrading refactor-nrepl's rewrite-clj dep and let you know when I'm done and it's all stable.

In fact when I'm done you can remove refactor-nrepl from the matrix - the upgrade is done, so there nothing to guard against.

https://github.com/clj-commons/rewrite-clj/issues/164 is kind of a prerequisite for this to happen.

[2021-09-18 18:04] #163 closed

[2021-09-18 18:06] vemv commented on #164
As a suggestion, Kaocha could be run for 1.9+ and vanilla clojure.test for the rest of the matrix?

[2021-09-18 18:09] borkdude commented on #164
I think I was involved in this discussion as well. When I started developing clj-kondo I did investigation about what would be a reasonable minimum Clojure version and the general consensus was the current major Clojure version + 1 version back. This gave me some affordances like being able to use the new predicates, etc. in Clojure 1.9 without back-porting them all. Since then I pretty much went

[2021-09-18 18:10] lread commented on #164
That is certainly an option.

So, may I ask why you are only reaching back to Clojure v1.8 support instead of reaching all the way back to Clojure v1.5.1?

[2021-09-18 18:17] vemv commented on #164
@borkdude yes, that's fair, however rewrite-clj is a very common dependency for tooling projects. One should be careful about what one imposes to essentially everyone e.g. cljfmt, kondo, refactor-nrepl, and so many more.

Probably clj-kondo can have extra affordances because it's primarily consumed as a tool that doesn't share the JVM with that of the end user's apps. For other patterns (which are

[2021-09-18 18:18] vemv commented on #164
Yes, sure, if they were supported as of January it doesn't seem too contrived to salvage full compat

[2021-09-18 18:24] borkdude commented on #95
I think given the last:

I don't expect that to happen / I expect such users to be knowledgeable enough to also repro a given bug with *assert* true

that doing nothing is perhaps still a valid option and leave the code as is. If people disable assert, it's on them to enable it for better error messages.

As I said, I might do some perf checks in clj-kondo to verify if disabling these checks was r

[2021-09-18 18:25] borkdude commented on #95
Also I don't think introducing dynamic var derefs at runtime is an improvement over what we have right now. Then again, this may not be so critical as when you're developing a library like malli or so.

[2021-09-18 18:27] borkdude commented on #95
Data to back up my opinion:

[code]

The deref of the dynamic var itself is way more expensive than executing the actual predicate.

[2021-09-18 18:28] lread commented on #95
Wow, I never expected this issue to generate such a full and interesting discussion!

[2021-09-18 18:37] vemv commented on #95
Worth emphasizing the compile-time `when *assert*` before the runtime `when *check*`. For the most perf-sensitive use case (graalvm clj-kondo), the penalty would not be hit at all.

Still, it's a good observation and perhaps we can use an alternative. InheritableThreadLocals come to mind.

[2021-09-18 18:42] vemv commented on #95
Remember that vanilla :pre doesn't inform of the value at fault, which can very plausibly improve time-to-fix.

[2021-09-18 18:44] borkdude commented on #95
I don't want to incur any extra perf hits when I decide to re-enable `*assert*` preferably.

Some data with assert enabled (`./clj-kondo)` and disabled (`clj-kondo`).

[code]

Practically no difference, so I'm probably just removing the assert false in my native-image! I probably just disabled it _in the hope_ it would be faster, but it's not really noticeable and I did so without good reason.

So

[2021-09-18 18:46] borkdude commented on #95
https://github.com/clj-kondo/clj-kondo/commit/014aa3c5c2f4fb11af9313be3dd83d1f037b7d50

[2021-09-18 18:52] vemv commented on #95
I disagree with your reasoning, which can be summarized as:

* I don't perceive a performance hit with `*assert*` _now_
  * i.e. you're not considering that third-party code is always subject to change
  * specifically, it can add more, or heavier asserts.
* because I enabled `*assert*`, now things have to be done in a way that doesn't impact me.

It's kind of a circular reasoning.

https://github

[2021-09-18 18:52] lread commented on #164
You are the first person who has communicated a strong interest in retaining support for old versions of Clojure to me.
@vemv, are you sincerely asking me to take on the work of maintaining that rewrite-clj v1 works with (and continues to work with) Clojure versions >= 1.5.1?

[2021-09-18 18:57] lread commented on #163
So what canary testing does is try to check that changes to rewrite-clj continue to work for libs.
So I'll definitely leave refactor-nrepl in the matrix! 🙂

[2021-09-18 18:59] vemv commented on #163
Got it, thanks!

[2021-09-18 19:04] vemv commented on #164
As someone who helps out maintaining all of the main https://github.com/clojure-emacs/ projects I would indeed suggest that you salvage compat so that it doesn't propagate to us, and others.

I would observe that rewrite-clj is used by many tools, so it is fair to be as agnostic and compatible as possible.

Like everything, things aren't black or white but a gradient. Personally I'd see 1.8 as a v

[2021-09-18 19:06] borkdude commented on #95
I think most people use this library with the default which is `*assert* true`. If this library would make drastic performance regressions (which have to be measured from release to release) then this would impact all default usage and would likely not go unnoticed in projects like clojure-lsp (@ericdallo) which I don't think have disabled asserts.

If that situation would arise (hypothetically) t

[2021-09-18 19:08] ericdallo commented on #95
clojure-lsp certainly doesn't disable `*assert*`, I didn't even know about that var until now 😅

[2021-09-18 19:11] lread commented on #95
Maybe time to recap and summarize what actual problem we are trying to solve for users of the rewrite-clj library?

@vemv I think your original idea was to include more context so that when assertions were triggered they could be more easily diagnosed?

An important note: The rewrite-clj assertions we are talking about were carried forward from rewrite-clj v0.  I have done no review of them and no

[2021-09-18 19:12] vemv commented on #95
@borkdude

Precisely in face of that type of considerations I've repeatedly hinted how it is important to decouple one's would-be`*assert*` from `clojure.core/*assert*`

Going back to this snippet https://github.com/clj-commons/rewrite-clj/issues/95#issuecomment-922345109 , we can change the default of `*check*` to `false`.

It would be set to `true` in rewrite-clj's test suite, and for any consum

[2021-09-18 19:14] borkdude commented on #95
I think I would rather have non-optional cheap asserts than adding a dynamic var deref around it which makes it 6x slower.

[2021-09-18 19:17] vemv commented on #95
I wrote:

Please let's not talk over each other.

[2021-09-18 19:19] vemv commented on #95
`:pre`s are a good thing, could be used more and in all cases include context. This way I can receive, and forward accurate error reports, which save debugging time for everyone involved.

[2021-09-18 19:38] lread commented on #164
You do realize we do this for free right? 🙂

Because this is issue is so important to you, I will reconsider supporting Clojure v1.8 as a minimum version.
I'm not currently interested in going back any further.
Maybe this will be easy peasy, I'll letcha know!

How far back does the Clojure core team go back when testing their own libs?
Am I right in remembering v1.8?

[2021-09-18 19:43] lread commented on #122
I think this feedback is interesting, but also rewrite-clj is not suffering terribly by not following it. Gonna close for now.

[2021-09-18 19:43] #122 closed

[2021-09-18 19:50] vemv commented on #164
Keeping it simple, 1.8 SGTM 👍

In case you enjoy the topic (personally I enjoy it as long as it's shared in blameless fashion), rewrite-clj serves many consumers, which chose to trust rewrite-clj before the `clj-commons/rewrite-clj` migration.

Ideally maintenance would serve us all, which can be considered to be reflected in the `clj-commons` choice.

Then again I'm nobody to say how people shoul

[2021-09-18 19:58] vemv commented on #164
As a quick tech note, running https://github.com/athos/clj-check for 1.8.0 might suffice, as opposed to running the test suite.

The regular Kaocha test suite would 'prove' that 1.8.0 is working fine (which isn't super precise, but saves maintenance / CI time if that is appreciated)

[2021-09-18 20:01] lread commented on #164
Nobody took up the rewrite-clj/cljs torch for years! I'd be surprised to see a new fork, but who knows?

Thanks did not know about clj-check, but I'll run the test suite under Clojure v1.8.

[2021-09-22 13:19] mjayprateek commented on #149
Hi @lread
The problem which I generally face is when I'm trying to finding a value.

For example, we're using rewrite-clj to automatically upgrade user codebases which use Ziggurat (the library mentioned above)

For this the rewriter code goes inside certain parts of a file and when it encouters a var, it tries look up its definition. At this point my zipper is deep inside some function call and I

[2021-09-22 19:53] vemv commented on #164
SGTM

[2021-09-23 19:37] lread commented on #149
Thanks for the clarification @mjayprateek.

Because you aren't navigating to the ultimate top of the zipper (the implicit `:forms` root node), I wonder if `top` might not be a great name for this new proposed function.  I think you really want to move to the first non whitespace node, which is where you are automatically navigated to when creating a zipper.

If we add such a function, what to name

[2021-09-24 06:24] mjayprateek commented on #149
Hi @lread
Yes, `first` sounds better but my only concern is that people might confuse it with the `leftmost` element of current zloc. But, not a big concern.

If `top` moves to absolute top, that should  be totally fine since we can always navigate to first non-whitespace node easily.

[2021-09-25 23:33] lread opened #165 "Diagnose and fix GraalVM Windows tests"
## Version
current main HEAD 142276ec61e3b9147428fbdff55956561c5a27da

## Platform
GraalVM Windows tests

## Background
Because the global `native-image` `--initalize-at-build-time` option has been deprecated by the GraalVM team and is slated for removal in GraalVM v22, I am switching to `clj-easy/graal-build-time`.

## Symptom
After switching to clj-easy/graal-build-time, my GraalVM Windows tests

[2021-11-01 23:09] lread opened #167 "Add more examples to user guide"
Folks on Slack have agreed that some real-ish world examples would help.

I could glean some good stuff from past support questions. For example:

I almost feels like a Dear Abby column. Might be fun to structure like that.

[2021-11-01 23:40] lread opened #168 "Feedback: insert-right docstring on the vague side."
Some helpful feedback from Slack:

Docstring for `rewrite-clj.zip/insert-right`:

But what's an item, eh?
I'll devaguefy this and simarly vague docstrings.

[2021-11-12 03:02] #165 closed

[2021-11-18 21:55] FiV0 opened #169 "Add a library to README."
I extracted [mranderson](https://github.com/benedekfazekas/mranderson)'s move ns a while ago into [kusonga](https://github.com/FiV0/kusonga) as I was always having dependency issues with it. Just added a couple of more functions. I mainly use it to rename projects. I just bumbed it to v1 of clj-rewrite, in case you want to add it to the readme. I can also do a PR if you accept it.

[2021-11-18 22:01] borkdude commented on #169
Yes please!

[2021-11-18 22:01] borkdude commented on #169
And great job, looks really useful.

[2021-11-18 23:14] lread commented on #169
Awesome @FiV0!

[2021-11-18 23:36] benedekfazekas commented on #169
i updated mranderson to v1 a while ago too btw, or am i missing the point here? ;)

[2021-11-18 23:38] lread commented on #169
@benedekfazekas maybe?

@FiV0 extracted a feature out of mranderson to its own project.

[2021-11-18 23:40] benedekfazekas commented on #169
oh got that too. obviously i like the idea https://github.com/benedekfazekas/mranderson/issues/37

[2021-11-18 23:47] lread commented on #169
Oh actually, @benedekfazekas I hadn't noticed you'd updated mranderson to rewrite-clj v1. Cool!
Thanks! I'll update the rewrite-clj README.

[2021-11-18 23:49] benedekfazekas commented on #169
thanks @lread i wanted to let you know but apparently forgot. thanks for the awesome work btw. @FiV0 there are some changes in `mranderson.move` you might want to check if you care for such

[2021-11-19 00:46] lread commented on #169
Heya @FiV0, I'm updating libs in docs as I write this, I can handle this one for ya.

[2021-11-19 00:54] #169 closed

[2021-11-19 07:56] FiV0 commented on #169
@benedekfazekas The main reason I extracted it was that mranderson requires leiningen dependencies. So if you just want to use the move namespace in a deps.edn project you also need to have leiningen on the classpath.

[2021-11-19 09:39] benedekfazekas commented on #169
I abs. agree with that @FiV0 . i even had the same ideas, see benedekfazekas/mranderson#37 and benedekfazekas/mranderson#42 only never got around to implement them. that said now we have the classic problem of how to keep your fork uptodate and howto merge back relevant improvements from your fork into mranderson. I should just find the time to separate it out really. would you be open to create a

[2021-11-19 12:33] lread commented on #169
(not a problem @benedekfazekas 🙂)

[2021-11-19 20:56] #168 closed

[2022-01-06 16:16] borkdude commented on #131
Another idea: make tag+ return namespaced keywords which can be used to build a hierarchy.

[code]

[2022-01-06 18:12] lread commented on #131
Thanks for the new idea @borkdude!

For the uninitiated (and/or foggy-brained), in Clojure, we can define hierarchies via [`derive`](https://clojuredocs.org/clojure.core/derive).

[code]

So rewrite-clj would provide finer-grained type information via a new `tag+` (see #114) but also define a queryable hierarchy for that new type info via Clojure's `isa?`.

Why do the keywords that are returned by

[2022-01-14 19:20] lread commented on #148
Hmm... this one seems to be active again.

[2022-01-14 20:50] lread commented on #148
And now it is fine again.

[2022-02-24 19:45] lread commented on #70
Some old notes from me transcribed from Slack 2021-05-13:

As those in the know know, the current skip behaviour is hardcoded to skip Clojure whitespace and comments.

For example to skip all nodes that are not sexpr-able a `:skip-pred` might be set to:

[2022-02-24 19:46] lread commented on #70
And from 2022-02-24 in response to a query:

I’ll dig up my old notes and update the issue.

See above.

[2022-03-26 18:38] mainej opened #170 "Support position on zippers created without position tracking"
**Problem/Opportunity**
Per its docstring, `rewrite-clj.zip/position` throws if `zloc` was created without position tracking. Because of this, several other functions can't be used with untracked zippers.

**Proposed Solution**
In zippers created without position tracking, the nodes have position information in their metadata `(:row (meta (z/node zloc)))`. On untracked zippers, `rewrite-clj.zip/po

[2022-03-26 20:41] mainej opened #171 "More efficiently seek to position"
**Problem/Opportunity**

`find-last-by-pos` is slower than it could be, especially when used to find zlocs at the end of files.

Suppose for example that you have a zipper at the root of the following code, and know the row and column of `b-b-a`.

[code]

The problem with using `find-last-by-pos` to find the node is that it uses `z/next*`, which means it does a depth first traversal of the tree. B

[2022-03-26 20:48] ericdallo commented on #171
Pinging @lread as may be interested on discussing this

[2022-03-26 21:21] lread commented on #170
Hey, thanks for the thoughtful issue @mainej!
Awesome to get feedback from real-world use!

I've never done any perf testing on position tracking zippers.
I fully assume they'd be slower, but I do wonder by how much.
I'm curious, have you folks done some real testing?

Do you mean automatically upgrading an untracked zipper to a position tracked zipper?
My gut feeling about being automatically hel

[2022-03-26 21:27] lread commented on #171
Two issues in one day? @mainej, you are spoiling me!

This sounds like an interesting idea, but I'll have to take a deeper peek.

Lucky for me, you've done a great job describing the issue.

[2022-03-26 22:31] mainej commented on #170
It's a good question, and to the best of my knowledge, the answer is "no." I've been doing a lot of benchmarking in clojure-lsp lately, but haven't tested this specifically. I'd be willing to research a bit, but would have to think about how to frame the question... there are a lot of parameters—zipper size, number and breadth of edits, amount of navigation you expect to do before and after editin

[2022-03-26 22:33] mainej commented on #171
Haha, sorry—I've had these on my list for a long time and finally got around them. I hope I'm not inundating you. :)

[2022-03-26 22:40] lread commented on #170
This just might give me the kick in the pants to do a performance comparison.
I have been curious for a long time.

I mean, what if we find the position tracking zipper is real zippy (or zippy enough)?

[2022-03-26 22:47] lread opened #172 "Get Some Idea of Performance Cost of Using Position Tracking Zipper"
I've been meaning to do this for a while.
When asked, I have typically told folks that I expect the position tracking zipper incurs a performance hit, but maybe I should get at least some vague idea of what that hit is.
And document it.

Inspired by #170, #171

[2022-03-26 22:48] lread commented on #171
Not at all, I am genuinely delighted!

[2022-03-26 22:54] lread commented on #172
Not sure how many of these I'll hit, but environments of interest:
1. Clojure
2. ClojureScript (probably NodeJs only?)
3. Graal native-image
4. Graal native-image SCI interpreted (maybe through Babashka?)

[2022-03-26 22:57] borkdude commented on #172
I think measuring 1 and 2 is the most important. If those get faster, then I expect that 3 and 4 also get faster (although sometimes 3 optimizes more aggressively.

In short, I would optimize for 1 (JVM) and 2 (but even then I think 1 is, given the areas where rewrite-clj is most used, is by far the most important).

[2022-03-26 22:58] mainej commented on #170
I see what you did there. :) Yeah, if they have similar performance, all the better. You're probably aware of this already, but for high-level comparison of algorithms, criterium is a handy tool. If you need to dig into which parts of an algorithm are taking the most time, I've been having good luck with clj-async-profiler. See, for example, [here](https://github.com/clojure-lsp/clojure-lsp/pull/7

[2022-03-26 22:59] lread commented on #172
Yeah, that sounds very reasonable, thanks!

[2022-03-26 23:01] lread commented on #170
All tips appreciated, much thanks!

[2022-03-26 23:21] mainej commented on #170
This is also probably obvious, but larger files will be more interesting. I've been using analyzer.clj in clj-kondo, but clojure.core is good too.

[2022-03-26 23:26] lread commented on #170
I went hunting a while back for larger sources and found [this big puppy](https://github.com/clojure/clojurescript/blob/master/src/main/cljs/cljs/core.cljs).

[2022-03-27 00:21] mainej commented on #170
Uh, yeah. That'll do. Yikes.

[2022-03-27 20:54] mainej commented on #172
@lread I don't mean to steal your thunder, but I had to know...

Here's my analysis of cljs/core.cljs, the file you suggested. That file has 12K lines, which is way outside the norm for a Clojure file. But, it makes for interesting analysis...

It takes approximately the same amount of time to parse the file either as a tracked or untracked zipper. An untracked zipper can traverse all the nodes in

[2022-03-27 21:03] borkdude commented on #172
FWIW, when I started building clj-kondo I discovered that not using zippers at all was much better for performance, so I went that route.

[2022-03-27 21:36] mainej commented on #172
It appears that `clojure-lsp` leans on that discovery. It tends to construct a zipper only when it plans to edit a file. Otherwise for the most part it uses the (cached) analysis from clj-kondo.

[2022-03-27 21:44] lread commented on #172
Hey ho! Thanks for the thoughtful analysis @mainej.

I barely started looking at this. I was also using `cljs/core.cljs` while poking around.
Like you, I'm finding tracked/untracked vs untracked give similar results on parse.
I used `z/of-string` where you used `z/of-file` but see a mean of 331ms for untracked vs a mean of 318ms for tracked.

My next test was to try a `z/next*` until I hit the end

[2022-03-27 21:51] lread commented on #170
So, in #172 we've found that the current position tracking zipper is significantly slower than the non-position tracking zipper.

But we must ask ourselves the crux of the problem we are trying to solve for this issue.
Is it that we want an untracked zipper that returns positions where those positions can be stale?
Or is it that we want a position tracking zipper that is fast enough to use with cl

[2022-03-27 22:04] lread commented on #170
Fun historical before-my-time fact: [rewrite-clj once used](https://github.com/clj-commons/rewrite-clj/issues/26) the [fast-zip](https://github.com/akhudek/fast-zip) lib.

[2022-03-28 01:15] mainej commented on #170
If we can get that, we'd certainly take it. And if we could always construct tracked zippers, then this issue is moot.

That said, I know of only [one place](https://github.com/clojure-lsp/clojure-lsp/blob/c16261aeca441a5de5e94f58bdfaedf053465d02/lib/src/clojure_lsp/feature/move_coll_entry.clj#L445-L447) in clojure-lsp where we'd really like the position after editing. Otherwise, we're almost alwa

[2022-03-28 01:22] lread commented on #170
Thanks so much @mainej, that helps!

[2022-03-28 01:30] mainej commented on #170
That is some deep history!

[2022-03-28 01:55] mainej commented on #172
That's reasonable. So, to focus on that case a little bit more, I ran clj-async-profiler on a traversal of every node:
[code]

I'll attach the flamegraph here, but Github always "helpfully" converts the nicely interactive SVG where you can drilldown into subsections into a static image. If you want, I can share the original file somewhere else.

My summary is: the profiler was in rewrite-clj code

[2022-03-28 02:04] lread commented on #172
Q: To what extent do we have a performance issue?
A: Yes.

Ya, that would have been my guess, but nice to see it in flames.

[2022-03-28 18:52] mainej commented on #172
The best I've been able to do so far is the following, which benchmarks around 250ms, cutting the difference between tracked and untracked cursors by about 55% (with all the usual caveats: on this file, under this one workload of seeking through every node, on my machine).

[code]

I tried `string/split-lines` but that drops trailing newlines, messing up the row counts, which I was only able to fi

[2022-03-28 19:57] mainej commented on #172
Uh wait... Why does the original algorithm return the same thing for both of these strings?

[code]

I'd expect it to be:

[code]

But maybe not... I guess in an editor, when you're on a new blank line, your cursor is on the first column. And after you add a character, that character is also in the first column. Not very intuitive to my brain.

[2022-03-28 22:36] mainej commented on #172
OK, last note for today. Here's a lower-level version. It benchmarks at 231ms, a (somewhat disappointingly) small improvement.

[code]

That cuts the difference between the tracked and untracked zippers by 61%. Or to think about it a different way, originally the tracked zipper took 3.8 times as long as the tracked zipper, and now it takes 2.1 times.

Breaking down times... of the 98% of the total

[2022-03-28 22:39] lread commented on #172
Thanks for taking a peek @mainej, I'll let this simmer in my noggin for a bit before diving in any deeper.

[2022-03-28 22:42] mainej commented on #172
Yeah, back to the hammock.

[2022-03-31 05:54] mainej opened #173 "root node's end position isn't at end of tree"
**Version**
`rewrite-clj/rewrite-clj {:mvn/version "1.0.699-alpha"}`

**Platform**
Operating System: macos Monterey 12.3
Clojure version: `org.clojure/clojure {:mvn/version "1.11.0"}`
JDK vendor and version: openjdk 11.0.14

**Symptom**
In untracked zippers, the root node's position `meta` data doesn't span the whole tree. This is as opposed to a tracked zipper, where the `position-span` includes

[2022-04-04 16:36] lread commented on #173
Thanks @mainej!

Interesting aside: because the position tracking zipper returns position on the zipper, and `z\root` returns a node instead of a zipper, we'd have to verify it via something like:

[code]

I think your proposed fix makes good sense, PR is most welcome.

[2022-04-05 00:21] mainej commented on #173
@lread... PR submitted. You're exactly right—I mirrored the new parser test into the tracked zipper tests (thanks to the comment suggesting that) and had to use `z/up` to get to the zipper root.

[2022-04-05 19:44] #173 closed

[2022-05-16 19:58] lread opened #176 "Rewrite-clj v1 is coercing strings differently than v0"
**Version**
1.0.767-alpha

**Symptom**
A support request form @ivarref on Slack boiled down to this observation:

v1: `hey " man`
[code]

v0: `hey \" man`
[code]

**Expected behavior**
Not sure yet.

**Action**
I'll dig deeper to understand.

[2022-05-16 20:28] lread commented on #176
Ok, thanks to handy dandy `git disect`, I've learned that things changed with this v1 commit: https://github.com/clj-commons/rewrite-clj/commit/7c0f7779ec496efe952a7ed0fec6ce2b068327e0

[2022-05-23 12:17] lread opened #177 "Bring more clarity to `tag`"
The user guide and docstrings are vague around valid values for `tag`.

Abbreviated from chat with @NoahTheDuke on Slack:

Noah:

Me:

Noah:

Me:

[2022-05-23 12:19] borkdude commented on #177
Related: https://github.com/clj-commons/rewrite-clj/issues/114#issuecomment-766174325

[2022-05-23 12:20] borkdude commented on #114
One idea is to also use `(isa? :rewrite-clj/symbol :rewrite-clj/token)`, possibly.

[2022-05-23 12:23] lread commented on #114
Directly related: https://github.com/clj-commons/rewrite-clj/issues/131#issuecomment-1006716628

[2022-05-23 12:26] borkdude commented on #114
I already wondered where I left that comment, thanks.

[2022-05-23 12:27] lread commented on #114
Ha! Yeah, I was searching for it yesterday, oddly enough!

[2022-05-27 21:40] lread commented on #177
Ok, no wonder I didn't go into details for this in the user guide.
It means describing something that is pretty awkward to use without custom helpers.
I think tackling #114 first and then documenting makes more sense than documenting current type interrogators.

[2022-06-02 13:54] lread opened #178 "The naming of rewrite-clj.zip/edn is misleading"
**Problem/Opportunity**
The rewrite-clj zip API has the non-intuitively and inconsistently named `edn` and `edn*` functions.
The functions convert/load rewrite-clj nodes to zippers.
This makes them hard to discover and perhaps confusing.

**Proposed Solution**
Add aliases that match the existing well-named `of-string` and `of-file`: `of-node` and `of-node*`.
Deprecate `edn` and `edn*` to promote u

[2022-06-08 15:27] lread opened #179 "Move away from commit-count in rewrite-clj versioning scheme"
**Problem/Opportunity**
Using commit-count in the versioning scheme for rewrite-clj has had its merits but I'm finding the unpredictability of the next version number is annoying me enough to change.

For example, I'd like to be specific in my `:added` `:deprecated` metadata on vars.
That is hard to do with a commit count.

And it can be slightly futzy when getting the correct version in docs.
But

[2022-06-08 15:33] borkdude commented on #179
I propose to decouple this from tag counts and just create a `version.edn` where we generate git tags from and update.

Example here: https://github.com/babashka/cli/blob/91c836932b4f32f1eb1fb69e9feed418176ef926/bb.edn#L29

[2022-06-08 17:07] borkdude commented on #179
@lread My thinking is that you can have tags for more than just releases. And there is no reason to rely on git to get the next release number, if it's already stored in version.edn and one inc away.

[2022-06-08 17:15] lread commented on #179
Yeah, maybe I'm just swayed more by the current code and past thinking.

I don't think this one is worth a pros and cons grid. 🙂

So your `version.edn`:
1. is the version of the last release
2. is a version template for the next release

I can assimilate. I will not resist.

[2022-06-08 21:35] #179 closed

[2022-06-09 16:03] #178 closed

[2022-09-12 13:22] lread opened #182 "Identity ex-info exceptions as being thrown from rewrite-clj"
**Problem/Opportunity**
Rewrite-clj throws ex-info exceptions.
It would be nice if a caller could easily tell if they came from rewrite-clj.

**Proposed Solution**
@borkdude suggested adding `:type :rewrite-clj` to ex-data.

**Alternative Solutions**
None at this time.

**Action**
I can follow up with a PR sometime soon.

[2022-09-12 13:44] borkdude commented on #182
A namespaced keyword would allow usage with `derive`. This is what I've done in SCI: `:sci/error` for general errors.

[2022-09-12 14:14] lread commented on #182
Cool, thanks, I'll take a peek at sci for inspiration.

[2022-09-18 16:44] ikappaki opened #187 "rewrite-clj does not preserve CRLF whitespaces"
**Version**
1.1.45

**Platform**
Operating System: any
Clojure version: any
JDK vendor and version: any

**Symptom**
`crewrite-clj` does not preserve CRLF whitespace when converted from zipper back to string,

**Reproduction**
On the REPL:

[code]
The `\r\n` line endings have been converted to `\n`.

**Actual behavior**
The zipper converts CRLF line endings to LF.

**Expected behavior**
As per doc

[2022-09-18 17:09] lread commented on #187
Thanks for raising such a clear and easy-to-digest issue @ikappaki, very much appreciated!

This is currently as designed, but I think rewrite-clj docs should describe this behaviour clearly if this is not already the case.

We use clojure tools.reader and I think it wants to normalize `\r\n` to `\n` but does not always handle this well. I raised [an issue about this](https://clojure.atlassian.net

[2022-09-18 17:32] ikappaki commented on #187
Hi @lread, and thank you for the prompt reply! May I please argue that there shouldn't be any exceptions in the design doc that suggest that all newlines seq should be treated as LF. I think the goal that wtitespaces should be preserved is quite powerful, since it guarantees compatibility across all architecture, which should be part of the design.

This adversely affects window's users. Its nativ

[2022-09-18 18:13] borkdude commented on #187
The JIRA issue doesn't yet have a patch. Maybe it would help if someone wrote that patch and brought the issue to the attention of the core team either on Slack, ask.clojure, etc.

[2022-09-18 18:20] borkdude commented on #187
I haven't looked inside rewrite-clj where this could be patched temporarily, but some looking into this might also help the process of contemplating if a workaround in rewrite-clj is feasible and desired.

[2022-09-18 18:22] lread commented on #187
My understanding: I don't think the clojure tools.reader intends to preserve `\r\n` line endings. I think it intends to normalize them to `\n`. This is not Windows-friendly, but a reality.

Before my tools.reader work-around in rewrite-clj, files with mixed `\r\n` and `\n` were causing issues for rewrite-clj and raised as an issue by the author of zprint.

At this point not normalizing to `\n` mig

[2022-09-18 18:56] lread commented on #187
So @ikappaki, I don't disagree with your sentiment at all here, but Clojure is not entirely Windows-friendly. We, unfortunately, inherit that Windows unfriendly-ness.

[2022-09-18 19:04] lread commented on #187
Related: #93

[2022-09-18 19:15] ikappaki commented on #187
Sure @lread we are both I think on the same page here and we are just having a friendly discussion  from our own perspective :)

I have been using Clojure primarily on MS-Windows for a long time now, and I have not noticed anything at the language level that I would consider brought me to a disadvantages compared to working on other operating systems. The tooling perhaps is an exception where the

[2022-09-18 19:28] lread commented on #187
I'm not in disagreement, and very much appreciate this issue and discussion.

My guess: Clojure Windows support is not first-class because there are fewer Clojure Windows users, and there are fewer Clojure Windows users because Windows support is not first-class.

I'll document this rewrite-clj behaviour but leave this issue open for a bit to potentially capture thoughts/ideas from others.

[2022-09-18 19:30] borkdude commented on #187
Just for my understanding: rewrite-clj has a temporary workaround (normalizing \r\n to \n) for an issue in tools.reader, but tools.reader maintainers haven't responded in the issue, but word has it that they will never fix this?

Why does the workaround in rewrite-clj normalize and does not preserve the Windows newline?

[2022-09-18 19:49] lread commented on #187
The current intent of clojure tools.reader is to normalize newlines to `\n`.
Rewrite-clj worked around a bug in that intent.

I was willing to work around a bug, but was not interested in changing the intended behaviour.
I felt that changing the intended behaviour would be riskier.

I do not know if the Clojure core team [will address the issue I raised](https://clojure.atlassian.net/browse/TRDR-6

[2022-09-18 21:46] lread commented on #187
Added [a question to Ask Clojure](https://ask.clojure.org/index.php/12216/clojure-tools-reader-intent-regarding-newline-normalization).

[2022-09-26 21:41] mainej opened #189 "Create zipper at root node"
**Problem/Opportunity**
Many files begin with copyright notices, documentation, or other kinds of comments and whitespace. `z/of-string` navigates past these to the first non-whitespace node (or to the root `:forms` node if the file is only whitespace.) `z/find-last-by-pos` navigates using `z/next*`, meaning it navigates "forward" from the current node.

Together this makes it unnecessarily challe

[2022-09-26 21:46] lread commented on #189
Thanks for the issue @mainej.
Is this a dupe of #125?

[2022-09-26 23:03] mainej commented on #189
Yep @lread, I'd call it a dupe. Sorry, I should have searched first. Would you like me to close this one? Would you like me to add `of-string*` as another potential solution to #125?

[2022-09-26 23:12] lread commented on #189
No problemo! Even though it is a dupe, it is clearly written and easy to understand. ❤️

I think we can close.
My feeling is that an explicit option or a new `top` is probably clearer than an `of-string*`. Would you agree?

[2022-09-26 23:13] lread commented on #189
Oh wait... I see what you were doing there. Maybe `of-string*` is worth considering.

[2022-09-26 23:16] lread commented on #189
This is kinda sorta also related to #70.

[2022-09-26 23:16] mainej commented on #189
Exactly... I was proposing a function like this:

[code]

[2022-09-26 23:18] mainej commented on #189
And very distantly to #171.

[2022-09-26 23:26] lread commented on #189
Ah. You are matching the `of-node*` (aka `edn*`) naming convention/behaviour, yes?

Then for consistency, this proposal option would also include a new `of-file*`?

[2022-09-26 23:34] mainej commented on #189
Yes, although my one hesitation is that I'm not sure `of-node*` and `edn*` are ideally named. I could imagine someone looking at their names and assuming that they'd be navigated to the first whitespace or non-whitespace node, as opposed to being left at the root node. But setting that concern aside, yes, that precedent was my motivation for the name.

Yes, that would make sense. As with any libra

[2022-09-26 23:56] lread commented on #189
The nice thing about the `*` is that it does imply a special behaviour. And if you are familiar with the other `*` fns you will assume it is about not skipping nodes. So those are good things.

If we took the options approach instead:
- we'd not be creating 2 new fns
- we could consider deprecating `of-node*` or at least mentioning that it is effectively the same as using our new option with `of-n

[2022-09-30 14:36] borkdude commented on #189
I agree with the original proposed solution `of-string*.

[2022-09-30 15:34] lread commented on #189
Thanks for the review @borkdude, we'll also add `of-file*` for consistency.

@mainej, I can do this one if you like, I'd like to see how it affects docs and docstrings.

[2022-09-30 15:37] lread commented on #125
Newer dupe #189 replaces this issue and proposes a better solution (thanks @mainej!)

[2022-09-30 15:37] #125 closed

[2022-09-30 18:11] mainej commented on #189
Sounds good @lread! I had started a commit but the docstring wording would be the biggest change, so best for you to get that how you want it. Thanks!

[2022-09-30 23:13] mainej opened #190 "Normalize terminology for root and top"
**Problem/Opportunity**

The idea of adding a helper function `top` has been proposed several times: #189, #125, #149 and perhaps others. Before making a decision about that feature, I think it would help to clarify what the word "top" means, especially because it currently has a slightly different meaning in rewrite-clj than it does in the wider Clojure community.

In general, in rewrite-clj, "to

[2022-10-01 06:34] borkdude commented on #190
I think root makes sense. For top-level nodes, maybe `top-level?` or more explicit?

[2022-10-01 13:12] lread commented on #190
Interesting. I'm all for defining terms and making things clearer!

One thing to keep in mind is that rewrite-clj is based on [Clojure's zipper implementation](https://github.com/clojure/clojure/blob/master/src/clj/clojure/zip.clj) which in turn is based on [Huet's zipper](https://www.cambridge.org/core/services/aop-cambridge-core/content/view/0C058890B8A9B588F26E6D68CF0CE204/S0956796897002864a.pd

[2022-10-11 17:02] lread commented on #189
Am looking into this and have been reminded, by the code, of a historical nuance.
A bit on the nitty gritty side, but writing it down anyway, could be that future-me will appreciate it.

`of-node`
- wraps given node with `:forms` node (if not already `:forms` node)
- navigates to the first non-whitespace non-comment node

`of-node*` does neither of these.

I remember not liking the fact that `of-n

[2022-10-19 18:14] lread opened #198 "chore: github actions deprecation warning"
## GitHub Actions is warning

## So...
I'll read up and adapt.

[2022-10-20 09:45] vemv commented on #87
Reading the original post, it seems plausible to me that an alternative solution could be conceived, that would be just as useful to clojure-lsp, and more convenient to rewrite-clj (because nothing would have to be changed!)

For completing `a/` in `file.clj`:

* Only ever read `file.clj` in a saved state, from disk
  * This makes perfect sense - saving a file is a fairly unmistakable sign that a

[2022-10-21 17:48] #198 closed